<div class="">
  <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:bg-darker rounded-md bg-white">
        <div class="relative p-3">
          <div *ngIf="projects$ | async as projects; else loadingOrError">
            <form [formGroup]="clusterModelForm">
              <div class="flex flex-col">
                <div class="">
                  <div class="flex flex-col">
                    <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.clusters.details.edit.form.project' | translate }}</label>
                    <p-dropdown
                      [options]="projects?.data"
                      placeholder="{{ 'pages.clusters.details.edit.form.projectHelp' | translate }}"
                      optionLabel="name"
                      optionValue="id"
                      [filter]="true"
                      filterBy="name"
                      [filterValue]="projectNameSearch"
                      formControlName="projectId"
                      (ngModelChange)="projectIdChanged($event)"
                      [showClear]="true"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div *ngIf="selectedProject">
                          <div>{{ selectedProject.name }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-project pTemplate="item">
                        <div class="flex w-96 flex-col">
                          <div>{{ project?.name }}</div>
                          <small class="truncate">{{ project?.description }}</small>
                        </div>
                      </ng-template>
                    </p-dropdown>

                    <span
                      *ngIf="
                        clusterModelForm.get('projectId').touched &&
                        clusterModelForm.get('projectId').dirty &&
                        clusterModelForm.get('projectId').errors
                      "
                      class="text-red-400"
                      >{{ 'pages.clusters.details.edit.form.projectError' | translate }}</span
                    >
                    <span id="projectId-help">{{ 'pages.clusters.details.edit.form.projectHelp' | translate }}</span>
                  </div>

                  <div class="mt-10 flex flex-col xl:w-96">
                    <label
                      ><span class="text-red-800 dark:text-red-300">*</span>
                      {{ 'pages.clusters.details.edit.form.criticalityLevel' | translate }}</label
                    >
                    <p-dropdown
                      [options]="availableCriticalities"
                      formControlName="criticality"
                      optionValue="value"
                      optionLabel="name"
                      placeholder="{{ 'pages.clusters.details.edit.form.criticalityLevelHelp' | translate }}"
                      (ngModelChange)="criticalityChanged($event)"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div *ngIf="selectedCriticality">
                          <div>{{ selectedCriticality?.name }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-criticality pTemplate="item">
                        <div>
                          <div>{{ criticality?.name }}</div>
                        </div>
                      </ng-template></p-dropdown
                    >
                    <span
                      *ngIf="
                        !clusterModelForm.get('criticality').pristine &&
                        clusterModelForm.get('criticality').touched &&
                        clusterModelForm.get('criticality').dirty &&
                        clusterModelForm.get('criticality').errors
                      "
                      class="text-red-400"
                      >{{ 'pages.clusters.details.edit.form.criticalityLevelError' | translate }}</span
                    >
                    <div class="flex">
                      <span id="criticality-help">{{ 'pages.clusters.details.edit.form.criticalityLevelHelp' | translate }}</span>
                    </div>
                    <div class="">
                      <a href="https://docs.sky.nhn.no/leveransemodell/veiledere/tags.html" target="_blank" class="flex hover:text-green-500">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="h-6 w-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                          />
                        </svg>
                        <span>{{ 'pages.clusters.details.edit.form.moreInfo' | translate }}</span>
                      </a>
                    </div>
                  </div>

                  <div class="mt-10 flex flex-col xl:w-96">
                    <label
                      ><span class="text-red-800 dark:text-red-300">*</span>
                      {{ 'pages.clusters.details.edit.form.sensitivityLevel' | translate }}</label
                    >
                    <p-dropdown
                      [options]="availableSensitivities"
                      formControlName="sensitivity"
                      optionValue="value"
                      optionLabel="name"
                      placeholder="{{ 'pages.clusters.details.edit.form.sensitivityLevelHelp' | translate }}"
                      (ngModelChange)="sensitivityChanged($event)"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div *ngIf="selectedSensitivity">
                          <div>{{ selectedSensitivity?.name }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-sensitivity pTemplate="item">
                        <div>
                          <div>{{ sensitivity?.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                    <div class="flex">
                      <span
                        *ngIf="
                          !clusterModelForm.get('sensitivity').pristine &&
                          clusterModelForm.get('sensitivity').touched &&
                          clusterModelForm.get('sensitivity').dirty &&
                          clusterModelForm.get('sensitivity').errors
                        "
                        class="text-red-400"
                        >{{ 'pages.clusters.details.edit.form.sensitivityLevelError' | translate }}</span
                      >
                      <span id="sensitivity-help">{{ 'pages.clusters.details.edit.form.sensitivityLevelHelp' | translate }}</span>
                    </div>
                    <div class="">
                      <a href="https://docs.sky.nhn.no/leveransemodell/tags/" target="_blank" class="flex hover:text-green-500">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="h-6 w-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                          />
                        </svg>
                        <span>{{ 'pages.clusters.details.edit.form.moreInfo' | translate }}</span>
                      </a>
                    </div>
                  </div>
                  <div class="dark:border-primary flex justify-between border-b p-4">
                    <h4 class="dark:text-light text-lg font-semibold text-gray-500">
                      {{ 'pages.admin.projects.form.roles.title' | translate }}
                    </h4>

                    <span
                      *ngIf="
                        !clusterModelForm?.get('roles').pristine &&
                        clusterModelForm?.get('roles').touched &&
                        clusterModelForm?.get('roles').dirty &&
                        clusterModelForm?.get('roles').errors
                      "
                      class="text-red-400"
                      >{{ 'pages.admin.projects.form.rolesError' | translate }}</span
                    >
                    <button
                      (click)="addRole()"
                      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-500 disabled:opacity-75 disabled:hover:bg-gray-800"
                    >
                      {{ 'pages.admin.projects.form.roles.add' | translate }}
                    </button>
                  </div>

                  <span>{{ 'pages.admin.projects.form.rolesHelp' | translate }}</span>

                  <ng-container formArrayName="roles">
                    <ng-container *ngFor="let roleForm of roles?.controls; let i = index">
                      <div class="role-form-row flex" [formGroupName]="i">
                        <div class="mb-3 mt-3 xl:w-96">
                          <label
                            ><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.admin.projects.form.roles.roleName' | translate }}
                          </label>
                          <p-dropdown
                            [options]="availableRoles"
                            formControlName="roleDefinition"
                            optionValue="value"
                            optionLabel="name"
                            placeholder="{{ 'pages.admin.projects.form.roles.placeholder' | translate }}"
                          ></p-dropdown>
                          <div class="flex">
                            <span
                              *ngIf="
                                !roleForm.get('roleDefinition').pristine &&
                                roleForm.get('roleDefinition').touched &&
                                roleForm.get('roleDefinition').dirty &&
                                roleForm.get('roleDefinition').errors
                              "
                              class="text-red-400"
                              >{{ 'pages.admin.projects.form.nameError' | translate }}</span
                            >
                          </div>
                        </div>

                        <div formGroupName="contactInfo" class="flex-auto">
                          <div class="mb-3 mt-3 xl:w-96">
                            <label
                              ><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.admin.projects.form.roles.upn' | translate }}</label
                            >
                            <input
                              class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                              type="email"
                              aria-describedby="upn-help"
                              pInputText
                              formControlName="upn"
                            />
                            <div class="flex">
                              <span
                                *ngIf="
                                  !roleForm.get('contactInfo').get('upn').pristine &&
                                  roleForm.get('contactInfo').get('upn').touched &&
                                  roleForm.get('contactInfo').get('upn').dirty &&
                                  roleForm.get('contactInfo').get('upn').errors
                                "
                                class="text-red-400"
                                >{{ 'pages.admin.projects.form.roles.upnError' | translate }}</span
                              >
                            </div>
                          </div>

                          <div class="mb-3 mt-3 xl:w-96">
                            <label>{{ 'pages.admin.projects.form.roles.email' | translate }}</label>
                            <input
                              class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                              type="email"
                              aria-describedby="email-help"
                              pInputText
                              formControlName="email"
                            />
                            <div class="flex flex-col">
                              <span
                                *ngIf="
                                  !roleForm.get('contactInfo').get('email').pristine &&
                                  roleForm.get('contactInfo').get('email').touched &&
                                  roleForm.get('contactInfo').get('email').dirty &&
                                  roleForm.get('contactInfo').get('email').errors
                                "
                                class="text-red-400"
                                >{{ 'pages.admin.projects.form.roles.emailError' | translate }}</span
                              >
                            </div>
                          </div>

                          <div class="mb-3 mt-3 xl:w-96">
                            <label>{{ 'pages.admin.projects.form.roles.phone' | translate }}</label>
                            <input
                              class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                              type="text"
                              aria-describedby="phone-help"
                              pInputText
                              formControlName="phone"
                            />
                            <div class="flex flex-col">
                              <span
                                *ngIf="
                                  !roleForm.get('contactInfo').get('phone').pristine &&
                                  roleForm.get('contactInfo').get('phone').touched &&
                                  roleForm.get('contactInfo').get('phone').dirty &&
                                  roleForm.get('contactInfo').get('phone').errors
                                "
                                class="text-red-400"
                                >{{ 'pages.admin.projects.form.phoneError' | translate }}</span
                              >
                            </div>
                          </div>
                        </div>

                        <div class="mb-3 mt-3 flex-none content-end">
                          <button
                            (click)="deleteRole(i)"
                            class="focus:ring-primary dark:focus:ring-offset-dark ml-2 content-end rounded-md bg-red-700 px-4 py-2 text-sm text-white hover:bg-red-500 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                          >
                            {{ 'common.delete' | translate }}
                          </button>
                        </div>
                      </div>
                      <hr />
                    </ng-container>
                  </ng-container>

                  <div formGroupName="billing" class="mt-10">
                    <div class="xl:w-96">
                      <label
                        ><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.clusters.details.edit.form.workorder' | translate }}</label
                      >
                      <input
                        class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                        type="text"
                        aria-describedby="workorder-help"
                        pInputText
                        formControlName="workorder"
                        (ngModelChange)="clusterNameChanged($event)"
                      />
                      <span
                        *ngIf="
                          !clusterModelForm.get('billing').get('workorder').pristine &&
                          clusterModelForm.get('billing').get('workorder').touched &&
                          clusterModelForm.get('billing').get('workorder').dirty &&
                          clusterModelForm.get('billing').get('workorder').errors
                        "
                        class="text-red-400"
                        >{{ 'pages.clusters.details.edit.form.workorderError' | translate }}</span
                      >
                      <div class="flex flex-col">
                        <span id="workorder-help">{{ 'pages.clusters.details.edit.form.workorderHelp' | translate }}</span>
                      </div>
                    </div>
                  </div>

                  <div class="mt-8">
                    <span class="text-red-800 dark:text-red-300">* {{ 'common.required' | translate }}</span>
                  </div>

                  <div class="mt-10 flex flex-col">
                    <label> {{ 'pages.clusters.details.edit.form.serviceTags' | translate }}</label>
                    <p-chips formControlName="tags"></p-chips>
                    <span
                      *ngIf="clusterModelForm.get('tags').touched && clusterModelForm.get('tags').dirty && clusterModelForm.get('tags').errors"
                      class="text-red-400"
                      >{{ 'pages.clusters.details.edit.form.serviceTagsError' | translate }}</span
                    >
                    <span id="tags-help">{{ 'pages.clusters.details.edit.form.serviceTagsHelp' | translate }}</span>
                  </div>
                </div>

                <div class="xl:w-128 mb-3 mt-3">
                  <label> {{ 'pages.clusters.details.edit.form.description' | translate }}</label>
                  <textarea
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="text"
                    aria-describedby="description-help"
                    pInputTextarea
                    rows="5"
                    cols="30"
                    formControlName="description"
                    (ngModelChange)="clusterNameChanged($event)"
                  >
                  </textarea>
                  <span
                    *ngIf="
                      !clusterModelForm.get('description').pristine &&
                      clusterModelForm.get('description').touched &&
                      clusterModelForm.get('description').dirty &&
                      clusterModelForm.get('description').errors
                    "
                    class="text-red-400"
                    >{{ 'pages.clusters.details.edit.form.descriptionError' | translate }}</span
                  >
                  <div class="flex flex-col">
                    <span id="description-help">{{ 'pages.clusters.details.edit.form.descriptionHelp' | translate }}</span>
                  </div>
                </div>

                <div class="mt-5 flex">
                  <button
                    [disabled]="!clusterModelForm?.valid"
                    (click)="updateCluster()"
                    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-900 disabled:opacity-25 disabled:hover:bg-gray-900"
                  >
                    {{ 'common.update' | translate }}
                  </button>
                  <button
                    (click)="regretChanges()"
                    class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                  >
                    {{ 'common.reset' | translate }}
                  </button>
                </div>

                <div *ngIf="clusterUpdateError">
                  <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                    <span class="p-2 text-red-800"> {{ 'pages.admin.projects.form.updateError' | translate }} </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <ng-template #loadingOrError>
            <ng-container *ngIf="projectsFetchError; else dataLoading">
              <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
                <button class="btn text-black" (click)="setupObservables()">{{ 'common.tryAgain' | translate }}</button>
              </div>
            </ng-container>

            <ng-template #dataLoading>
              <app-spinner></app-spinner>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="dark:bg-darker flex justify-between rounded-md bg-white p-4" *ngIf="environment?.production === false">
      <div class="dark:bg-darker rounded-md bg-white">
        <div class="relative flex flex-col p-3">
          <h2>Preview</h2>
          <pre>{{ clusterModelForm.getRawValue() | json }}</pre>
          <br />
          <h3>Selected Project:</h3>
          <pre>{{ selectedProject | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
  acceptButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-red-700 hover:bg-red-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  rejectButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-green-700 hover:bg-green-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
></p-confirmDialog>
