<ng-container *ngIf="adminReadFetchError">
  <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
    <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
    <button class="btn text-black" (click)="fetchAcl()">{{ 'common.tryAgain' | translate }}</button>
  </div>
</ng-container>
<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.admin.projects.title' | translate }}</h1>

  <div
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark relative rounded-md bg-green-700 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    (click)="showExportChoises = !showExportChoises"
  >
    <div class="relative flex w-fit cursor-pointer items-center justify-center rounded-md px-4 py-2">
      <div class="mr-2">{{ 'common.export' | translate }}</div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
    </div>
    <div *ngIf="showExportChoises" class="absolute z-50 mt-2 w-fit cursor-pointer rounded-md p-3">
      <a
        (click)="exportToCsv()"
        class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark mt-0 w-full rounded-md bg-blue-700 px-4 py-2 text-sm text-white opacity-75 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
      >
        CSV
      </a>
      <div
        class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark mt-2 w-full rounded-md bg-blue-700 px-4 py-2 text-sm text-white opacity-75 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
        (click)="exportToExcel()"
      >
        Excel
      </div>
    </div>
  </div>
  <a
    *ngIf="(adminRead$ | async) === true"
    [routerLink]="['./create']"
    class="delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
  </a>
  <button
    (click)="fetchProjects(lastLazyLoad)"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
</div>

<div class="dark:bg-darker rounded-md bg-white xl:m-2 xl:p-2">
  <p-table
    *ngIf="!projectsError; else error"
    [value]="(projects$ | async)?.data"
    [columns]="columns"
    [paginator]="true"
    [rows]="rows"
    sortField="name"
    [sortOrder]="1"
    [rowsPerPageOptions]="rowsPerPage"
    [totalRecords]="(projects$ | async)?.totalCount"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
      'common.of' | translate | lowercase
    }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
    [lazy]="true"
    (onLazyLoad)="fetchProjects($event)"
    [loading]="loading"
    responsiveLayout="stack"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let col of columns">
          <th pSortableColumn="{{ col?.field }}">
            {{ 'pages.admin.projects.table.' + col.header | translate }}
            <p-sortIcon field="{{ col?.field }}"></p-sortIcon>
          </th>
        </ng-container>
        <th class="w-20" *ngIf="(adminRead$ | async) === true"></th>
        <th class="w-20" *ngIf="(adminRead$ | async) === true"></th>
      </tr>
      <tr>
        <th class="p-1">
          <p-columnFilter type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="p-1">
          <p-columnFilter type="text" field="projectMetadata.billing.workorder" matchMode="contains" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="p-1">
          <p-columnFilter type="date" field="updated" matchMode="contains" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="p-1">
          <p-columnFilter type="date" field="created" matchMode="contains" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="p-1">
          <p-columnFilter field="active" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                appendTo="body"
                [ngModel]="value"
                [options]="accessTypes"
                optionLabel="name"
                optionValue="value"
                (onChange)="filter($event.value)"
                placeholder="{{ 'common.any' | translate }}"
                [showClear]="true"
                [filter]="false"
              >
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="p-1"></th>
        <th class="p-1"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div [ngSwitch]="col.field">
            <a
              *ngSwitchCase="'name'"
              class="ml-2 cursor-pointer hover:text-blue-800 hover:underline dark:hover:text-blue-400"
              [routerLink]="['./', project?.id]"
              >{{ project?.name }}</a
            >
            <span *ngSwitchCase="'description'" class="truncate">{{ project?.description }}</span>
            <span *ngSwitchCase="'workorder'" class="truncate">{{ project?.projectMetadata?.billing?.workorder }}</span>
            <div *ngSwitchCase="'updated'">
              <span>{{ project?.updated | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
            </div>
            <div *ngSwitchCase="'created'">
              <span>{{ project?.created | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
            </div>
            <div *ngSwitchCase="'active'">
              <div *ngIf="!project?.active" class="flex text-red-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ 'pages.admin.projects.details.inactive' | translate }}</span>
              </div>
              <div *ngIf="project?.active" class="flex text-green-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <span>{{ 'pages.admin.projects.details.active' | translate }}</span>
              </div>
              <div *ngSwitchDefault>{{ getValueFromColumn(project, col.field) }}</div>
            </div>
          </div>
        </td>
        <td class="" *ngIf="(adminRead$ | async) === true">
          <button
            routerLink="./{{ project?.id }}/edit"
            class="p-button-sm focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white hover:bg-green-500 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            {{ 'common.edit' | translate }}
          </button>
        </td>
        <td class="" *ngIf="(adminRead$ | async) === true">
          <button
            (click)="deleteProject(project)"
            class="p-button-sm focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-red-700 px-4 py-2 text-sm text-white hover:bg-red-500 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            {{ 'common.delete' | translate }}
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #error>
    <ng-container>
      <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
        <span class="p-2 text-red-800">
          {{ 'common.errorLoading' | translate }} <br />
          {{ ('common.error' | translate) + ': ' + projectsError }}
        </span>
      </div>
    </ng-container>
  </ng-template>
</div>
<p-confirmDialog
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
  acceptButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-red-700 hover:bg-red-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  rejectButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-green-700 hover:bg-green-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
></p-confirmDialog>
