<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.ingresses.title' | translate }}</h4>
      </div>
      <div class="p-4">
        <div class="">
          <div class="overflow-x-auto">
            <p-table
              [value]="ingresses"
              [rows]="rows"
              [paginator]="true"
              [rowsPerPageOptions]="rowsPerPage"
              [tableStyle]="{ 'min-width': '75rem' }"
              [rowHover]="true"
              sortField="group"
              [sortOrder]="1"
              [totalRecords]="ingresses?.length"
              [reorderableColumns]="true"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
                'common.of' | translate | lowercase
              }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name" class="p-1">
                    {{ 'pages.clusters.details.ingresses.name' | translate }} <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="health" class="p-1">
                    {{ 'pages.clusters.details.metadata.status' | translate }} <p-sortIcon field="health"></p-sortIcon>
                  </th>
                  <th pSortableColumn="class" class="p-1">
                    {{ 'pages.clusters.details.ingresses.infrastructure' | translate }} <p-sortIcon field="class"></p-sortIcon>
                  </th>
                  <th pSortableColumn="namespace" class="p-1">
                    {{ 'pages.clusters.details.ingresses.namespace' | translate }} <p-sortIcon field="namespace"></p-sortIcon>
                  </th>
                  <th class="p-1">
                    {{ 'pages.clusters.details.ingresses.hostname' | translate }}
                  </th>
                  <th class="p-1">{{ 'pages.clusters.details.ingresses.ip' | translate }}</th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
                  </th>
                  <th></th>
                  <th></th>
                  <th>
                    <p-columnFilter type="text" field="namespace" matchMode="contains" [showMenu]="false"></p-columnFilter>
                  </th>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-ingress>
                <tr>
                  <td>
                    <a class="ml-2 hover:text-blue-800 hover:underline dark:hover:text-blue-400" [routerLink]="['ingresses', ingress?.name]">
                      {{ ingress?.name }}</a
                    >
                  </td>
                  <td>
                    <app-cluster-status
                      [status]="ingress?.health"
                      pTooltip="{{ 'pages.clusters.details.ingresses.statusTooltip' | translate }}"
                      tooltipPosition="top"
                    ></app-cluster-status>
                  </td>
                  <td>
                    <span *ngIf="ingress?.class?.endsWith('internett')">{{ 'pages.clusters.details.ingresses.internet' | translate }}</span>
                    <span *ngIf="ingress?.class?.endsWith('helsenett')">{{ 'pages.clusters.details.ingresses.health' | translate }}</span>
                    <span *ngIf="ingress?.class?.endsWith('datacenter')">{{ 'pages.clusters.details.ingresses.datacenter' | translate }}</span>
                  </td>
                  <td class="whitespace-nowrap px-1 py-1 pl-2 align-top text-sm font-light">
                    <span>{{ ingress?.namespace }}</span>
                  </td>

                  <td>
                    <div class="flex flex-col">
                      <span *ngFor="let rule of ingress?.ingressrules">
                        <a class="hover:text-blue-800 hover:underline dark:hover:text-blue-400" href="https://{{ rule?.hostname }}" target="_blank"
                          ><i class="pi pi-external-link mr-2"></i>{{ rule?.hostname }}</a
                        ></span
                      >
                    </div>
                  </td>

                  <td>
                    <div class="flex flex-col">
                      <div class="" *ngFor="let rule of ingress.ingressrules">
                        <span *ngFor="let address of rule?.ipaddresses; last as last">
                          <span>{{ address }}</span>
                          <span *ngIf="!last">, </span>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">{{ 'common.emptyList' | translate }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
