<ng-container *ngIf="conditions?.length > 0">
  <ng-container *ngFor="let condition of conditions">
    <div
      class="xs:flex-none m-3 rounded-lg bg-gradient-to-r from-red-700 to-yellow-500 p-3 text-white shadow-pink-500 drop-shadow-lg hover:from-yellow-500 hover:to-red-700 dark:shadow-red-300 md:flex"
      *ngIf="condition?.type === 'ToolingOk' && condition?.status === 'False'"
    >
      <span class="relative mr-3 flex h-6 w-6">
        <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-white opacity-75"></span>
        <span class="ml-2 mt-2 h-2 w-2 rounded-full bg-white"></span>
      </span>
      <span class="text-lg font-bold">{{ 'pages.clusters.details.conditions.toolingAutosyncError' | translate }}</span>
      <span class="ml-1">
        (<a class="underline" href="https://argo-cd.readthedocs.io/en/stable/user-guide/auto_sync/" target="_blank">{{
          'pages.clusters.details.conditions.argocdautosynclink' | translate
        }}</a
        >)</span
      >
    </div>
  </ng-container>
</ng-container>
