<form [formGroup]="aclForm">
  <div class="flex flex-col">
    <div class="">
      <div class="mb-3 mt-3 flex flex-col md:w-4/5 lg:w-1/2 xl:w-96">
        <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.group' | translate }}</label>
        <!-- <p-dropdown
          [showClear]="true"
          [group]="true"
          formControlName="group"
          optionLabel="label"
          optionValue="value"
          [options]="suggestedGroups"
          [editable]="true"
          [autofocus]="true"
          emptyMessage="{{ 'common.emptyList' | translate }}"
          placeholder="{{ 'pages.acl.create.groupPlaceholder' | translate }}"
          class="w-full"
          styleClass="w-full"
        >
          <ng-template let-group pTemplate="group">
            <div class="align-items-center flex">
              <strong>{{ group?.label }}</strong>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="align-items-center flex gap-2">
              <div class="pl-3">{{ item?.label }}</div>
            </div>
          </ng-template>
        </p-dropdown> -->
        <app-input-dropdown
          [formGroup]="aclForm"
          [controlName]="'group'"
          [showClear]="true"
          [couldOverride]="true"
          [groupSupport]="true"
          optionLabel="label"
          optionValue="value"
          [options]="suggestedGroups"
          placeholder="{{ 'pages.acl.create.groupPlaceholder' | translate }}"
        >
          <ng-template let-group pTemplate="group">
            <div class="align-items-center flex">
              <strong>{{ group?.label }} gaslkdfdsa</strong>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="align-items-center flex gap-2">
              <div class="pl-3">{{ item?.label }}</div>
            </div>
          </ng-template>
        </app-input-dropdown>
        <div class="flex flex-col">
          <span
            *ngIf="!aclForm.get('group').pristine && aclForm.get('group').touched && aclForm.get('group').dirty && aclForm.get('group').errors"
            class="text-red-400"
            >{{ 'pages.acl.form.groupError' | translate }}</span
          >
          <!-- <span id="group-help">{{ 'pages.acl.form.groupHelp' | translate }}</span> -->
        </div>
      </div>
      <div class="mb-3 mt-3">
        <div class="flex flex-col">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.scope' | translate }}</label>

          <p-dropdown
            #scopeDrop
            formControlName="scope"
            *ngIf="scopes$ | async as scopes"
            [options]="scopes"
            (onChange)="scopeSelected($event)"
            placeholder="{{ 'pages.acl.create.scopePlaceholder' | translate }}"
          >
            <ng-template let-item pTemplate="item">
              <div class="align-items-center flex gap-2">
                <div>{{ item | titlecase }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="selectedItem">
              <div class="align-items-center flex gap-2">
                <div>{{ scopeDrop?.value | titlecase }}</div>
              </div>
            </ng-template></p-dropdown
          >
        </div>

        <div class="flex flex-col">
          <span
            *ngIf="!aclForm.get('scope').pristine && aclForm.get('scope').touched && aclForm.get('scope').dirty && aclForm.get('scope').errors"
            class="text-red-400"
            >{{ 'pages.acl.form.scopeError' | translate }}</span
          >
          <!-- <span id="scope-help">{{ 'pages.acl.form.scopeHelp' | translate }}</span> -->
        </div>
      </div>
      <div class="mb-3 mt-3 w-full md:w-4/5 lg:w-1/2 xl:w-96">
        <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.subject' | translate }}</label>
        <!-- <p-dropdown
          [showClear]="true"
          formControlName="subject"
          [filter]="true"
          [group]="true"
          [options]="suggestedSubjects"
          [editable]="true"
          optionLabel="label"
          optionValue="value"
          emptyMessage="{{ 'common.emptyList' | translate }}"
          placeholder="{{ 'pages.acl.create.subjectPlaceholder' | translate }}"
          class="w-full"
          styleClass="w-full"
        >
          <ng-template let-group pTemplate="group">
            <div class="align-items-center flex">
              <strong>{{ group?.label }}</strong>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="align-items-center flex gap-2">
              <div class="pl-3">{{ item?.label }}</div>
            </div>
          </ng-template>
        </p-dropdown> -->
        <app-input-dropdown
          [formGroup]="aclForm"
          [controlName]="'subject'"
          [showClear]="true"
          [couldOverride]="true"
          [groupSupport]="true"
          [clearTextOnOverride]="true"
          optionLabel="label"
          optionValue="value"
          [options]="suggestedSubjects"
          placeholder="{{ 'pages.acl.create.subjectPlaceholder' | translate }}"
        ></app-input-dropdown>
        <div class="flex flex-col">
          <span
            *ngIf="
              !aclForm.get('subject').pristine && aclForm.get('subject').touched && aclForm.get('subject').dirty && aclForm.get('subject').errors
            "
            class="text-red-400"
            >{{ 'pages.acl.form.subjectError' | translate }}</span
          >
          <!-- <span id="subject-help">{{ 'pages.acl.form.subjectHelp' | translate }}</span> -->
        </div>
      </div>

      <div formGroupName="access" class="flex">
        <div class="mb-3 mt-3 xl:w-96">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.read' | translate }}</label>
          <p-inputSwitch formControlName="read"></p-inputSwitch>

          <div class="flex flex-col">
            <span
              *ngIf="
                !aclForm.get('access')?.get('read').pristine &&
                aclForm.get('access')?.get('read').touched &&
                aclForm.get('access')?.get('read').dirty &&
                aclForm.get('access')?.get('read').errors
              "
              class="text-red-400"
              >{{ 'pages.acl.form.readError' | translate }}</span
            >
            <span id="read-help">{{ 'pages.acl.form.readHelp' | translate }}</span>
          </div>
        </div>
        <div class="mb-3 mt-3 xl:w-96">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.create' | translate }}</label>
          <p-inputSwitch formControlName="create"></p-inputSwitch>

          <div class="flex flex-col">
            <span
              *ngIf="
                !aclForm.get('access')?.get('create').pristine &&
                aclForm.get('access')?.get('create').touched &&
                aclForm.get('access')?.get('create').dirty &&
                aclForm.get('access')?.get('create').errors
              "
              class="text-red-400"
              >{{ 'pages.acl.form.createError' | translate }}</span
            >
            <span id="create-help">{{ 'pages.acl.form.createHelp' | translate }}</span>
          </div>
        </div>
        <div class="mb-3 mt-3 xl:w-96">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.update' | translate }}</label>
          <p-inputSwitch formControlName="update"></p-inputSwitch>

          <div class="flex flex-col">
            <span
              *ngIf="
                !aclForm.get('access')?.get('update').pristine &&
                aclForm.get('access')?.get('update').touched &&
                aclForm.get('access')?.get('update').dirty &&
                aclForm.get('access')?.get('update').errors
              "
              class="text-red-400"
              >{{ 'pages.acl.form.updateError' | translate }}</span
            >
            <span id="update-help">{{ 'pages.acl.form.updateHelp' | translate }}</span>
          </div>
        </div>
        <div class="mb-3 mt-3 xl:w-96">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.delete' | translate }}</label>
          <p-inputSwitch formControlName="delete"></p-inputSwitch>

          <div class="flex flex-col">
            <span
              *ngIf="
                !aclForm.get('access')?.get('delete').pristine &&
                aclForm.get('access')?.get('delete').touched &&
                aclForm.get('access')?.get('delete').dirty &&
                aclForm.get('access')?.get('delete').errors
              "
              class="text-red-400"
              >{{ 'pages.acl.form.deleteError' | translate }}</span
            >
            <span id="delete-help">{{ 'pages.acl.form.deleteHelp' | translate }}</span>
          </div>
        </div>
        <div class="mb-3 mt-3 xl:w-96">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.owner' | translate }}</label>
          <p-inputSwitch formControlName="owner" (onChange)="ownerOn($event)"></p-inputSwitch>

          <div class="flex flex-col">
            <span
              *ngIf="
                !aclForm.get('access')?.get('owner').pristine &&
                aclForm.get('access')?.get('owner').touched &&
                aclForm.get('access')?.get('owner').dirty &&
                aclForm.get('access')?.get('owner').errors
              "
              class="text-red-400"
              >{{ 'pages.acl.form.ownerError' | translate }}</span
            >
            <span id="owner-help">{{ 'pages.acl.form.ownerHelp' | translate }}</span>
          </div>
        </div>
      </div>
      <div formGroupName="kubernetes" class="flex">
        <div class="mb-3 mt-3 xl:w-96">
          <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.acl.form.logon' | translate }}</label>
          <p-inputSwitch formControlName="logon"></p-inputSwitch>

          <div class="flex flex-col">
            <span
              *ngIf="
                !aclForm.get('kubernetes')?.get('logon').pristine &&
                aclForm.get('kubernetes')?.get('logon').touched &&
                aclForm.get('kubernetes')?.get('logon').dirty &&
                aclForm.get('kubernetes')?.get('logon').errors
              "
              class="text-red-400"
              >{{ 'pages.acl.form.logonError' | translate }}</span
            >
            <span id="logon-help">{{ 'pages.acl.form.logonHelp' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="mt-3 text-red-800 dark:text-red-300">* {{ 'common.required' | translate }}</span>

  <div class="mt-5 md:w-1/2" *ngIf="acl">
    <hr />
    <table class="w-full border-collapse text-left">
      <tbody>
        <tr class="hover:bg-grey-light">
          <td class="px-2 py-1">
            <strong>{{ 'common.metadata' | translate }}</strong>
          </td>
          <td class="px-2 py-1"></td>
        </tr>
        <tr class="hover:bg-grey-light">
          <td class="px-2 py-1">{{ 'common.createdBy' | translate }}</td>
          <td class="px-2 py-1">
            <span>{{ this.acl?.issuedBy ?? ('common.missing' | translate) }}</span>
          </td>
        </tr>
        <tr class="hover:bg-grey-light">
          <td class="px-2 py-1">{{ ('common.created' | translate) ?? ('common.missing' | translate) }}</td>
          <td class="px-2 py-1">
            <span>{{ (this.acl?.created | time: 'DD. MMM YYYY HH:mm:ss') ?? ('common.missing' | translate) }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-5 flex">
    <button
      *ngIf="!acl"
      [disabled]="!aclForm?.valid"
      (click)="create()"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:bg-gray-500 disabled:hover:bg-gray-800"
    >
      {{ 'common.create' | translate }}
    </button>
    <button
      [disabled]="!aclForm?.valid"
      (click)="update()"
      *ngIf="acl"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:bg-gray-500 disabled:hover:bg-gray-800"
    >
      {{ 'common.update' | translate }}
    </button>
    <button
      (click)="reset()"
      class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    >
      {{ 'common.reset' | translate }}
    </button>
  </div>
  <div *ngIf="createError">
    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
      <span class="p-2 text-red-800"> {{ 'pages.acl.create.error' | translate }} </span>
    </div>
  </div>
  <div *ngIf="updateError">
    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
      <span class="p-2 text-red-800"> {{ 'pages.acl.update.error' | translate }} </span>
    </div>
  </div>
</form>
