<div class="dark:bg-dark dark:text-light flex h-screen flex-col items-center justify-center gap-3">
  <img class="items-center rounded-full" ngSrc="/assets/icons/ror.svg" alt="Ror logo" height="350" width="350" priority />

  <span class="items-center">{{ 'pages.auth.callback.title' | translate }}</span>

  <a
    routerLink="../../"
    class="bg-primary hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark mt-2 rounded-md px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'pages.auth.callback.link' | translate }}
  </a>
</div>
