<div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
  <h1 *ngIf="!id" class="flex-grow text-2xl font-semibold">{{ 'pages.admin.prices.create.title' | translate }}</h1>
  <h1 *ngIf="id?.length > 0" class="flex-grow text-2xl font-semibold">{{ 'pages.admin.prices.edit.title' | translate }}: {{ id }}</h1>
</div>

<div class="mt-2">
  <div class="grid gap-4 p-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2">
    <div class="dark:bg-darker flex items-center justify-between rounded-md bg-white p-4">
      <div class="dark:bg-darker rounded-md bg-white">
        <div class="relative p-3">
          <div *ngIf="priceFetchError">
            <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
              <span class="p-2 text-red-800"> {{ 'pages.admin.prices.create.createError' | translate }} </span>
            </div>
          </div>
          <form [formGroup]="priceForm" *ngIf="!priceFetchError">
            <div class="flex flex-col">
              <div class="flex flex-col justify-center">
                <div class="mb-3 xl:w-96">
                  <label>* {{ 'pages.admin.prices.form.provider' | translate }}</label>
                  <input
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="text"
                    aria-describedby="provider-help"
                    formControlName="provider"
                    pInputText
                  />
                  <div class="flex flex-col">
                    <span
                      *ngIf="priceForm.get('provider').touched && priceForm.get('provider').dirty && priceForm.get('provider').errors"
                      class="text-red-400"
                      >{{ 'pages.admin.prices.form.providerError' | translate }}</span
                    >
                    <small id="provider-help">{{ 'pages.admin.prices.form.providerHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <label>* {{ 'pages.admin.prices.form.machineClass' | translate }}</label>
                  <input
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="text"
                    aria-describedby="machineClass-help"
                    formControlName="machineClass"
                    pInputText
                  />
                  <div class="flex flex-col">
                    <span
                      *ngIf="priceForm.get('machineClass').touched && priceForm.get('machineClass').dirty && priceForm.get('machineClass').errors"
                      class="text-red-400"
                      >{{ 'pages.admin.prices.form.machineClassError' | translate }}</span
                    >
                    <small id="machineClass-help">{{ 'pages.admin.prices.form.machineClassHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <label>* {{ 'pages.admin.prices.form.cpu' | translate }}</label>
                  <input
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="number"
                    aria-describedby="cpu-help"
                    formControlName="cpu"
                  />
                  <div class="flex flex-col">
                    <span *ngIf="priceForm.get('cpu').touched && priceForm.get('cpu').dirty && priceForm.get('cpu').errors" class="text-red-400">{{
                      'pages.admin.prices.form.cpuError' | translate
                    }}</span>
                    <small id="cpu-help">{{ 'pages.admin.prices.form.cpuHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <label>* {{ 'pages.admin.prices.form.memoryBytes' | translate }}</label>
                  <input
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="number"
                    aria-describedby="memoryBytes-help"
                    formControlName="memoryBytes"
                  />
                  <div class="flex flex-col">
                    <span
                      *ngIf="priceForm.get('memoryBytes').touched && priceForm.get('memoryBytes').dirty && priceForm.get('memoryBytes').errors"
                      class="text-red-400"
                      >{{ 'pages.admin.prices.form.memoryBytesError' | translate }}</span
                    >
                    <small id="memoryBytes-help">{{ 'pages.admin.prices.form.memoryBytesHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <label>* {{ 'pages.admin.prices.form.memory' | translate }}</label>
                  <input
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="number"
                    aria-describedby="memory-help"
                    formControlName="memory"
                  />
                  <div class="flex flex-col">
                    <span
                      *ngIf="priceForm.get('memory').touched && priceForm.get('memory').dirty && priceForm.get('memory').errors"
                      class="text-red-400"
                      >{{ 'pages.admin.prices.form.memoryError' | translate }}</span
                    >
                    <small id="memory-help">{{ 'pages.admin.prices.form.memoryHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <label>* {{ 'pages.admin.prices.form.price' | translate }}</label>
                  <input
                    class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                    type="number"
                    aria-describedby="price-help"
                    formControlName="price"
                  />
                  <div class="flex flex-col">
                    <span
                      *ngIf="priceForm.get('price').touched && priceForm.get('price').dirty && priceForm.get('price').errors"
                      class="text-red-400"
                      >{{ 'pages.admin.prices.form.priceError' | translate }}</span
                    >
                    <small id="price-help">{{ 'pages.admin.prices.form.priceHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <h3>* {{ 'pages.admin.prices.form.from' | translate }}</h3>
                  <p-calendar aria-describedby="from-help" formControlName="from"></p-calendar>
                  <div class="flex flex-col">
                    <span *ngIf="priceForm.get('from').touched && priceForm.get('from').dirty && priceForm.get('from').errors" class="text-red-400">{{
                      'pages.admin.prices.form.fromError' | translate
                    }}</span>
                    <small id="from-help">{{ 'pages.admin.prices.form.fromHelp' | translate }}</small>
                  </div>
                </div>

                <div class="mb-3 xl:w-96">
                  <h3>{{ 'pages.admin.prices.form.to' | translate }}</h3>
                  <p-calendar aria-describedby="to-help" formControlName="to"></p-calendar>
                  <div class="flex flex-col">
                    <span *ngIf="priceForm.get('to').touched && priceForm.get('to').dirty && priceForm.get('to').errors" class="text-red-400">{{
                      'pages.admin.prices.form.toError' | translate
                    }}</span>
                    <small id="to-help">{{ 'pages.admin.prices.form.toHelp' | translate }}</small>
                  </div>
                </div>

                <span>* {{ 'pages.admin.prices.form.required' | translate }}</span>

                <div class="mt-5 flex">
                  <button
                    *ngIf="!id"
                    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:bg-gray-500 disabled:hover:bg-gray-800"
                    type="button"
                    [disabled]="!priceForm?.valid"
                    (click)="createPrice()"
                    pButton
                  >
                    {{ 'common.create' | translate }}
                  </button>
                  <button
                    *ngIf="id?.length > 0"
                    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:bg-gray-500 disabled:hover:bg-gray-800"
                    type="button"
                    [disabled]="!priceForm?.valid"
                    (click)="updatePrice()"
                    pButton
                  >
                    {{ 'common.update' | translate }}
                  </button>
                  <button
                    (click)="reset()"
                    class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                  >
                    {{ 'common.reset' | translate }}
                  </button>
                  <div *ngIf="createError">
                    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                      <span class="p-2 text-red-800"> {{ 'pages.admin.prices.create.createError' | translate }} </span>
                    </div>
                  </div>
                  <div *ngIf="updateError">
                    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                      <span class="p-2 text-red-800"> {{ 'pages.admin.prices.edit.editError' | translate }} </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
