# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.vscode
.idea/
*.swp

**.DS_Store**
**node_modules**
**__debug_bin**

hacks/data/dex/dbs/dex.db
hacks/data/dex/configs/dex-config.yaml
hacks/data/mongodb
hacks/data/rabbitmq
hacks/data/vault
hacks/data/secrets
hacks/data/redis
hacks/data/valkey
hacks/data/talos/*/**
hacks/data/influxdb2
hacks/docker-compose/vault/.env

dist
update-charts
*.code-workspace
charts/*.tgz
~
**/isbuilt
resources.ts-*.backup
cmd/test/**  */
.env
