<div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
  <h1 class="text-2xl font-semibold">{{ 'pages.about.title' | translate }}</h1>
</div>

<div class="mt-2">
  <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3">
    <div class="grid gap-8 p-4 sm:col-span-1 md:col-span-1 lg:col-span-2">
      <div class="dark:bg-darker flex justify-between overflow-x-auto rounded-md bg-white p-4">
        <div class="dark:bg-darker rounded-md bg-white">
          <div class="p-3">
            <img class="" ngSrc="/assets/icons/ror.svg" alt="Ror logo" height="350" width="350" priority />
            <p class="mb-2">{{ 'pages.about.content' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid gap-8 p-4">
      <div class="flex flex-col gap-3">
        <div class="dark:bg-darker flex justify-between overflow-x-auto rounded-md bg-white p-4">
          <div class="dark:bg-darker rounded-md bg-white">
            <div class="dark:border-primary flex items-center justify-between border-b p-4">
              <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.about.versions' | translate }}</h4>
            </div>
            <div class="p-3">
              <table class="w-full border-collapse text-left">
                <tbody>
                  <tr class="hover:bg-grey-light">
                    <td class="px-2 py-1">ROR-Admin</td>
                    <td class="px-2 py-1">{{ appVersion }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="dark:bg-darker flex justify-between overflow-x-auto rounded-md bg-white p-4">
          <div class="dark:bg-darker rounded-md bg-white">
            <div class="dark:border-primary flex items-center justify-between border-b p-4">
              <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.about.shoutouts' | translate }}</h4>
            </div>
            <div class="p-3">
              <ul>
                <li>
                  <a
                    class="hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                    href="https://github.com/Kamona-WD/kwd-dashboard"
                    target="_blank"
                    >K-WD Dashboard</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-between px-4 pb-4 pt-0">
  <h1 class="text-xl font-semibold">{{ 'pages.about.health.title' | translate }}</h1>
</div>

<div class="xs:grid-cols-1 grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
  <div class="dark:bg-darker ml-4 mr-4 flex flex-col-reverse justify-between overflow-x-auto rounded-md bg-white p-4 md:flex-row">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="float-left p-3">
        <div *ngIf="health$ | async as health; else loadingOrError">
          <app-health-table [health]="health"></app-health-table>
        </div>
        <ng-template #loadingOrError>
          <ng-container *ngIf="healthError; else workspaceLoading">
            <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
              <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
              <button class="btn text-black" (click)="healthcheck()">{{ 'common.tryAgain' | translate }}</button>
            </div>
          </ng-container>
          <ng-template #workspaceLoading>
            <app-spinner></app-spinner>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <button
      (click)="healthcheck()"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left m-2 max-h-10 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    >
      {{ 'common.refresh' | translate }}
    </button>
  </div>
</div>
