<table class="dark:text-light min-w-full text-gray-900">
  <thead class="dark:border-primary border-b">
    <tr>
      <th scope="col" class="text-md px-2 py-2 text-left font-medium">
        {{ 'pages.about.health.table.column.service' | translate }}
      </th>
      <th scope="col" class="text-md px-2 py-2 text-left font-medium">
        {{ 'pages.about.health.table.column.status' | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="py-1 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-gray-500" *ngFor="let service of getServices()">
      <td class="whitespace-nowrap px-2 py-2 text-sm font-light">
        {{ 'pages.about.health.table.row.' + service.name | translate }}
      </td>
      <td class="whitespace-nowrap px-2 py-2 text-sm font-light">
        {{ 'pages.about.health.status.' + service.status.toString() | translate }}
      </td>
    </tr>
  </tbody>
</table>
