<div class="pl-5 grid grid-cols-2 gap-1 mb-5">
  <h2>{{ 'pages.create.cluster.steps.summary.title' | translate }}</h2>
  <div></div>

  <div class="mt-3">{{ 'pages.create.cluster.steps.summary.orderby' | translate }}</div>
  <div class="underline font-bold">{{ value?.orderBy }}</div>

  <div>{{ 'pages.create.cluster.steps.summary.project' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/new">{{ value?.project?.name }}</a>
  </div>
  <div class="">{{ 'pages.create.cluster.steps.summary.workorder' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/new">{{ value?.project?.projectMetadata?.billing?.workorder }}</a>
  </div>

  <div class="">{{ 'pages.create.cluster.steps.summary.provider' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/new">{{ value?.provider?.name }}</a>
  </div>

  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="value?.provider?.type?.toLowerCase() === 'tanzu'">
      <div>{{ 'pages.create.cluster.steps.summary.workspace' | translate }}</div>
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/new">{{ value?.providerConfig?.tanzu?.workspace?.name }}</a>
      </div>
      <div>{{ 'pages.create.cluster.steps.summary.datacenter' | translate }}</div>
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/new">{{ value?.providerConfig?.tanzu?.workspace?.datacenter?.name }}</a>
      </div>
      <div>{{ 'pages.create.cluster.steps.summary.location' | translate }}</div>
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/new">
          {{ value?.providerConfig?.tanzu?.workspace?.datacenter?.location?.region }}
          {{ value?.providerConfig?.tanzu?.workspace?.datacenter?.location?.country }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'AKS'">
      <div>{{ 'pages.create.cluster.steps.summary.subscription' | translate }}</div>
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/new">{{ value?.providerConfig?.azure?.subscription?.name }}</a>
      </div>
      <div>{{ 'pages.create.cluster.steps.summary.resourceGroup' | translate }}</div>
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/new">{{ value?.providerConfig?.azure?.resourceGroup?.name }}</a>
      </div>
      <div>{{ 'pages.create.cluster.steps.summary.region' | translate }}</div>
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/new">{{ value?.providerConfig?.azure?.region?.name }}</a>
      </div>
    </ng-container>
  </ng-container>

  <div class="mt-3">{{ 'pages.create.cluster.steps.summary.availability' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/resources" *ngIf="value?.availability?.label"
      >{{ value?.availability?.label }} ({{ value?.availability?.price }} NOK)</a
    >
  </div>

  @if (value?.k8sVersion?.name?.length > 0) {
    <div class="">{{ 'pages.create.cluster.steps.summary.k8sVersion' | translate }}</div>
    <div class="flex gap-3">
      <div class="underline font-bold">
        <a routerLink="{{ relativeTo }}/resources">
          {{ value?.k8sVersion?.name }}
        </a>
      </div>
    </div>
  }

  <div class="">{{ 'pages.create.cluster.steps.summary.env' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/resources"> {{ value?.environment?.name }}</a>
  </div>
  <div>{{ 'pages.create.cluster.steps.summary.clustername' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/resources"
      ><span *ngIf="value?.environment">{{ value?.environment?.prefix }}-</span>{{ value?.clusterName }}</a
    >
  </div>

  <ng-container *ngIf="value?.environment?.prefix === 'p' && value?.availability && value?.availability?.price === 0">
    <div></div>
    <div class="text-red-400">{{ 'pages.create.cluster.steps.resources.availabilityWarning' | translate }}</div>
  </ng-container>
  <div>{{ 'pages.create.cluster.steps.summary.nodepools' | translate }}</div>
  <div class="flex gap-3">
    <ul>
      <li *ngFor="let cap of value?.capasity" class="underline font-bold">
        <a routerLink="{{ relativeTo }}/resources">{{ cap?.count }} x {{ cap?.machineClass }} = {{ cap?.price + cap?.count }}</a>
      </li>
    </ul>
  </div>

  <div class="mt-3">{{ 'pages.create.cluster.steps.summary.ownergroup' | translate }}</div>
  <div class="flex gap-3 font-bold">
    <a routerLink="{{ relativeTo }}/metadata">
      <span>{{ value?.ownergroup }}</span>
    </a>
  </div>

  <div>{{ 'pages.create.cluster.steps.summary.sensiticity' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/metadata">{{ value?.sensitivity?.name }}</a>
  </div>
  <div>{{ 'pages.create.cluster.steps.summary.criticality' | translate }}</div>
  <div class="underline font-bold">
    <a routerLink="{{ relativeTo }}/metadata">{{ value?.criticality?.name }}</a>
  </div>
  <div>{{ 'pages.create.cluster.steps.summary.tags' | translate }}</div>
  <div class="flex gap-3 font-bold">
    <a routerLink="{{ relativeTo }}/metadata">
      <p-tag class="mr-1" *ngFor="let tag of value?.tags" severity="success" [value]="tag"></p-tag>
    </a>
  </div>

  <div class="mt-3">{{ 'pages.create.cluster.steps.summary.sumMonth' | translate }}</div>
  <div class="font-bold">
    <ng-container *ngIf="getNodePoolSum() > 0"
      ><a routerLink="{{ relativeTo }}/resources">{{ getNodePoolSum() }} NOK</a></ng-container
    >
  </div>
  <div>{{ 'pages.create.cluster.steps.summary.sumYear' | translate }}</div>
  <div class="font-bold">
    <ng-container *ngIf="getNodePoolSum() > 0"
      ><a routerLink="{{ relativeTo }}/resources">{{ getNodePoolSum() * 12 }} NOK</a></ng-container
    >
  </div>
</div>
