.gradient {
  background: linear-gradient(90deg, #001d0b 0%, #daae51 100%);
}

.gradient-background {
  background-image: url('/assets/images/header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.background-white {
  background-image: radial-gradient(#f6baff 3%, rgb(180, 120, 249) 15%, white 60%);
  background-size: 100% 100%;
  min-height: 100vh;
}
