<div class="grid grid-cols-6">
  <div class="col-span-1">
    <ul>
      <li><a (click)="show('ingress')" class="hover:underline">Ingress</a></li>
      <li><a (click)="show('certificates')" class="hover:underline">Certificates</a></li>
      <li><a (click)="show('services')" class="hover:underline">Services</a></li>
      <li><a (click)="show('pods')" class="hover:underline">Pods</a></li>
    </ul>
  </div>
  <div class="col-span-5">
    @if (showIngress) {
      <pre class=""><code class="" [highlight]="ingress | json" language="json" lineNumbers></code></pre>
    }

    @if (showCertificates) {
      <pre class=""><code class="" [highlight]="certificates | json" language="json" lineNumbers></code></pre>
    }

    @if (showServices) {
      <pre class=""><code class="" [highlight]="services | json" language="json" lineNumbers></code></pre>
    }

    @if (showPods) {
      <pre class=""><code class="" [highlight]="pods | json" language="json" lineNumbers></code></pre>
    }
  </div>
</div>
