<div class="grid grid-cols-6">
  <div class="col-span-1">
    <ul>
      <li>
        <a (click)="show('ingress')" class="hover:underline">{{ 'pages.clusters.details.ingresses.raw.ingress' | translate }}</a>
      </li>
      <li>
        <a (click)="show('certificates')" class="hover:underline">{{ 'pages.clusters.details.ingresses.raw.certificates' | translate }}</a>
      </li>
      <li>
        <a (click)="show('services')" class="hover:underline">{{ 'pages.clusters.details.ingresses.raw.services' | translate }}</a>
      </li>
      <li>
        <a (click)="show('endpoints')" class="hover:underline">{{ 'pages.clusters.details.ingresses.raw.endpoints' | translate }}</a>
      </li>
      <li>
        <a (click)="show('pods')" class="hover:underline">{{ 'pages.clusters.details.ingresses.raw.pods' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="col-span-5">
    @if (showIngress) {
      <h1 class="text-2xl">{{ 'pages.clusters.details.ingresses.raw.ingress' | translate }}</h1>
      <pre class=""><code class="" [highlight]="ingress | json" language="json" lineNumbers></code></pre>
    }

    @if (showCertificates) {
      <h1 class="text-2xl">{{ 'pages.clusters.details.ingresses.raw.certificates' | translate }}</h1>
      <pre class=""><code class="" [highlight]="certificates | json" language="json" lineNumbers></code></pre>
    }

    @if (showServices) {
      <h1 class="text-2xl">{{ 'pages.clusters.details.ingresses.raw.services' | translate }}</h1>
      <pre class=""><code class="" [highlight]="services | json" language="json" lineNumbers></code></pre>
    }

    @if (showEndpoints) {
      <h1 class="text-2xl">{{ 'pages.clusters.details.ingresses.raw.endpoints' | translate }}</h1>
      <pre class=""><code class="" [highlight]="endpoints | json" language="json" lineNumbers></code></pre>
    }

    @if (showPods) {
      <h1 class="text-2xl">{{ 'pages.clusters.details.ingresses.raw.pods' | translate }}</h1>
      <pre class=""><code class="" [highlight]="pods | json" language="json" lineNumbers></code></pre>
    }
  </div>
</div>
