<ng-container *ngIf="adminReadFetchError">
  <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
    <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
    <button class="btn text-black" (click)="fetchAcl()">{{ 'common.tryAgain' | translate }}</button>
  </div>
</ng-container>
<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 *ngIf="!projectId" class="flex-grow text-2xl font-semibold">{{ 'pages.admin.projects.details.title' | translate }}</h1>
  <h1 *ngIf="projectId?.length > 0 && ((project$ | async) !== null) !== null" class="flex-grow text-2xl font-semibold">
    {{ 'pages.admin.projects.details.title' | translate }}: {{ (project$ | async)?.name }}
  </h1>
  <a
    *ngIf="(adminRead$ | async) === true"
    [routerLink]="['../create']"
    class="delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
  </a>
  <a
    *ngIf="(adminRead$ | async) === true"
    [routerLink]="['./edit']"
    class="delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.edit' | translate }}
  </a>
  <button
    (click)="fetchProject()"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
</div>

<div *ngIf="project$ | async as project; else loadingOrError">
  <div class="mt-2 p-2">
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
      <div class="sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-3 2xl:col-span-4">
        <div class="grid space-y-8 lg:gap-8 lg:space-y-0">
          <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
            <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
              <div class="dark:border-primary flex items-center justify-between border-b p-4">
                <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.admin.projects.details.description' | translate }}</h4>
              </div>
              <div class="overflow-x-auto p-4">
                {{ project?.description }}
              </div>
            </div>
          </div>

          <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
            <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
              <div class="dark:border-primary flex items-center justify-between border-b p-4">
                <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.admin.projects.details.roles' | translate }}</h4>
              </div>
              <div class="overflow-x-auto p-4">
                <table class="w-full border-collapse text-left">
                  <tbody>
                    <tr class="hover:bg-grey-light" *ngFor="let role of project?.projectMetadata?.roles">
                      <td class="px-2 py-1">
                        <span>{{ role?.roleDefinition }}</span>
                      </td>
                      <td class="px-2 py-1">
                        <a class="hover:text-blue-800 hover:underline dark:hover:text-blue-400" href="mailto:{{ role?.contactInfo?.upn }}">{{
                          role?.contactInfo?.upn
                        }}</a>
                      </td>
                      <td class="px-2 py-1">
                        <a class="hover:text-blue-800 hover:underline dark:hover:text-blue-400" href="mailto:{{ role?.contactInfo?.email }}">{{
                          role?.contactInfo?.email
                        }}</a>
                      </td>
                      <td class="px-2 py-1">
                        <a class="hover:text-blue-800 hover:underline dark:hover:text-blue-400" href="tel:{{ role?.contactInfo?.phone }}">{{
                          role?.contactInfo?.phone
                        }}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="dark:bg-darker overflow-x-auto rounded-md bg-white p-4">
            <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
              <div class="dark:border-primary flex items-center justify-between border-b p-4">
                <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.admin.projects.details.clusterInfo' | translate }}</h4>
              </div>
              <div class="overflow-x-auto p-4">
                <p-table
                  #resultTable
                  [sortOrder]="1"
                  sortField="result"
                  [value]="clusterInfos$ | async"
                  styleClass="p-datatable-striped"
                  dataKey="id"
                  [rows]="10"
                  [rowHover]="true"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="rowsPerPage"
                  [paginator]="true"
                  [resizableColumns]="true"
                  columnResizeMode="expand"
                  currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
                    'common.of' | translate | lowercase
                  }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="clusterName" class="w-96 p-1">
                        {{ 'pages.admin.projects.details.table.clusterName' | translate }} <p-sortIcon field="clusterName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="metadata.description" class="p-1 max-w-24">
                        {{ 'pages.admin.projects.details.table.description' | translate }} <p-sortIcon field="metadata.description"></p-sortIcon>
                      </th>
                      <th pSortableColumn="metadata.billing.workorder" class="p-1">
                        {{ 'pages.admin.projects.details.table.workorder' | translate }} <p-sortIcon field="metadata.billing.workorder"></p-sortIcon>
                      </th>
                      <th pSortableColumn="environment" class="p-1">
                        {{ 'pages.admin.projects.details.table.environment' | translate }} <p-sortIcon field="environment"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-clusterInfo>
                    <tr>
                      <td class="w-96">
                        <a
                          class="w-96 hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                          routerLink="../../../cluster/{{ clusterInfo?.clusterId }}"
                          >{{ clusterInfo?.clusterName }}</a
                        >
                      </td>
                      <td class="max-w-24">
                        <span [pTooltip]="clusterInfo?.metadata?.description" tooltipPosition="bottom" style="">{{
                          clusterInfo?.metadata?.description
                        }}</span>
                      </td>
                      <td class="">
                        <span *ngIf="clusterInfo?.metadata?.billing?.workorder">
                          {{ clusterInfo?.metadata?.billing?.workorder }}
                        </span>
                        <span *ngIf="!clusterInfo?.metadata?.billing?.workorder">
                          {{ project?.projectMetadata?.billing?.workorder }}
                        </span>
                      </td>
                      <td class="">
                        <app-cluster-environment [environmentTag]="clusterInfo?.environment"></app-cluster-environment>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">{{ 'pages.admin.projects.details.table.empty' | translate }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <ng-template #clusterInfoLoadingOrError>
                  <ng-container *ngIf="projectFetchError; else clusterLoading">
                    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                      <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
                      <button class="btn text-black" (click)="fetchClusterInfos()">{{ 'common.tryAgain' | translate }}</button>
                    </div>
                  </ng-container>

                  <ng-template #clusterLoading>
                    <app-spinner></app-spinner>
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sm:col-span-1 md:col-span-1 lg:col-span-1 lg:pl-3 xl:col-span-1 2xl:col-span-2">
        <div class="grid-cols grid gap-4">
          <div class="grid gap-8">
            <div class="dark:bg-darker flex items-center justify-between rounded-md bg-white p-4">
              <div class="dark:bg-darker rounded-md bg-white">
                <div class="dark:border-primary flex items-center justify-between border-b p-4">
                  <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.metadata.title' | translate }}</h4>
                </div>
                <div class="relative p-3">
                  <table class="w-full border-collapse text-left">
                    <tbody>
                      <tr class="hover:bg-grey-light" *ngIf="project?.name">
                        <td class="px-2 py-1">{{ 'pages.admin.projects.details.name' | translate }}</td>
                        <td class="px-2 py-1">
                          <span>{{ project?.name }}</span>
                        </td>
                      </tr>
                      <tr class="hover:bg-grey-light" *ngIf="project?.projectMetadata?.billing?.workorder">
                        <td class="px-2 py-1">{{ 'pages.admin.projects.details.workorder' | translate }}</td>
                        <td class="px-2 py-1">
                          <span>{{ project?.projectMetadata?.billing?.workorder }}</span>
                        </td>
                      </tr>
                      <tr class="hover:bg-grey-light" *ngIf="project?.projectMetadata?.billing?.workorder">
                        <td class="px-2 py-1">{{ 'pages.admin.projects.details.status' | translate }}</td>
                        <td class="px-2 py-1">
                          <div *ngIf="project?.active" class="flex text-green-600">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="h-6 w-6"
                            >
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            <span>{{ 'pages.admin.projects.details.active' | translate }}</span>
                          </div>
                          <div *ngIf="!project?.active" class="flex text-red-400">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="h-6 w-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              />
                            </svg>
                            <span>{{ 'pages.admin.projects.details.inactive' | translate }}</span>
                          </div>
                        </td>
                      </tr>
                      <tr class="hover:bg-grey-light" *ngIf="project?.projectMetadata?.serviceTags">
                        <td class="px-2 py-1">{{ 'pages.admin.projects.details.servicetags' | translate }}</td>
                        <td class="flex flex-wrap px-2 py-1">
                          <p-tag
                            styleClass="mr-1 mt-1 text-white dark:text-gray-300 bg-green-600 dark:bg-green-800"
                            *ngFor="let tag of tags"
                            class=""
                            >{{ tag }}</p-tag
                          >
                        </td>
                      </tr>
                      <tr class="hover:bg-grey-light">
                        <td class="px-2 py-1">{{ 'common.created' | translate }}</td>
                        <td class="flex flex-wrap px-2 py-1">
                          <span>{{ project?.created | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
                        </td>
                      </tr>
                      <tr class="hover:bg-grey-light">
                        <td class="px-2 py-1">{{ 'common.updated' | translate }}</td>
                        <td class="flex flex-wrap px-2 py-1">
                          <span>{{ project?.updated | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <ng-container *ngIf="projectFetchError; else loading">
    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
      <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
      <button class="btn text-black" (click)="fetchProject()">{{ 'common.tryAgain' | translate }}</button>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
</ng-template>
