<p-table
  [value]="desiredVersion"
  [rows]="10"
  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPage"
  [globalFilterFields]="['key', 'value']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  dataKey="key"
  sortField="key"
  [sortOrder]="1"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="key" class="p-1">
        {{ 'pages.configuration.desiredVersion.table.columns.key' | translate }} <p-sortIcon field="key"></p-sortIcon>
      </th>
      <th pSortableColumn="value" class="p-1">
        {{ 'pages.configuration.desiredVersion.table.columns.value' | translate }} <p-sortIcon field="value"></p-sortIcon>
      </th>
      <th class="p-1"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-desiredVersion>
    <tr>
      <td>{{ desiredVersion?.key }}</td>
      <td>
        <!-- <div *ngIf="isStringType(desiredVersion?.value)">
          {{ desiredVersion?.value }}
        </div>

        <pre *ngIf="">
          {{ desiredVersion?.value | json }}
        </pre> -->
        <ng-container [ngSwitch]="isStringType(desiredVersion?.value)">
          <ng-container *ngSwitchCase="true">
            {{ desiredVersion?.value }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ desiredVersion?.value | json }}
          </ng-container>
        </ng-container>
      </td>
      <td>
        <button
          [routerLink]="['./desiredversion/edit']"
          [state]="desiredVersion"
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
        ></button>
        <button (click)="delete(desiredVersion)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">{{ 'common.emptyList' | translate }}</td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
  acceptButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-red-700 hover:bg-red-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  rejectButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-green-700 hover:bg-green-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  acceptLabel="{{ 'common.yes' | translate }}"
  rejectLabel="{{ 'common.no' | translate }}"
></p-confirmDialog>
