<div class="grid gap-8">
  <div class="dark:bg-darker flex items-center justify-between overflow-y-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker overflow-y-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.tools.title' | translate }}</h4>
      </div>
      <div class="relative p-3">
        <table class="w-full border-collapse text-left">
          <tbody>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.argo' | translate }}</td>
              <td class="px-2 py-1 truncate" *ngIf="argoIngress">
                <a
                  href="https://{{ argoIngress?.ingressrules[0].hostname }}"
                  target="_blank"
                  class="overflow-hidden text-clip underline"
                  *ngIf="
                    argoIngress?.ingressrules !== null &&
                    argoIngress?.ingressrules?.length > 0 &&
                    argoIngress?.ingressrules[0].ipaddresses !== null &&
                    argoIngress?.ingressrules[0].ipaddresses.length > 0
                  "
                  ><span class="w-14 overflow-hidden truncate text-clip">{{ argoIngress?.ingressrules[0].hostname }}</span></a
                >
              </td>
              <td
                class="px-2 py-1"
                *ngIf="
                  !argoIngress ||
                  !argoIngress?.ingressrules ||
                  argoIngress?.ingressrules?.length === 0 ||
                  !argoIngress?.ingressrules[0].ipaddresses ||
                  argoIngress?.ingressrules[0].ipaddresses?.length === 0
                "
              >
                {{ 'pages.clusters.details.tools.argoMissing' | translate }}
              </td>
            </tr>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.grafana' | translate }}</td>
              <td class="px-2 py-1 truncate" *ngIf="grafanaIngress">
                <a
                  href="https://{{ grafanaIngress?.ingressrules[0].hostname }}"
                  target="_blank"
                  class="overflow-hidden text-clip underline"
                  *ngIf="
                    grafanaIngress?.ingressrules !== null &&
                    grafanaIngress?.ingressrules?.length > 0 &&
                    grafanaIngress?.ingressrules[0].ipaddresses !== null &&
                    grafanaIngress?.ingressrules[0].ipaddresses.length > 0
                  "
                  ><span class="w-14 overflow-hidden truncate text-clip">{{ grafanaIngress?.ingressrules[0].hostname }}</span></a
                >
              </td>
              <td
                class="px-2 py-1"
                *ngIf="
                  !grafanaIngress ||
                  !grafanaIngress?.ingressrules ||
                  grafanaIngress?.ingressrules?.length === 0 ||
                  !grafanaIngress?.ingressrules[0].ipaddresses ||
                  grafanaIngress?.ingressrules[0].ipaddresses?.length === 0
                "
              >
                {{ 'pages.clusters.details.tools.grafanaMissing' | translate }}
              </td>
            </tr>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.rorlogin' | translate }}</td>
              <td class="px-2 py-1 truncate">
                <button
                  (click)="copyRorLogin()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  {{ 'common.copy' | translate }}
                </button>
                <!-- <button
                  (click)="toggleShowLogin()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  <span *ngIf="!showLogin">
                    {{ 'common.show' | translate }}
                  </span>
                  <span *ngIf="showLogin">
                    {{ 'common.hide' | translate }}
                  </span>
                </button> -->
              </td>
            </tr>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.kubectlLogin' | translate }}</td>
              <td class="px-2 py-1 truncate">
                <button
                  (click)="copyLogin()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  {{ 'common.copy' | translate }}
                </button>
                <!-- <button
                  (click)="toggleShowLogin()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  <span *ngIf="!showLogin">
                    {{ 'common.show' | translate }}
                  </span>
                  <span *ngIf="showLogin">
                    {{ 'common.hide' | translate }}
                  </span>
                </button> -->
              </td>
            </tr>
            <tr *ngIf="showLogin">
              <td colspan="2" class="px-2 py-1">
                <div class="bg-black text-white">
                  kubectl vsphere login --server={{ serverUrl }} -u {{ userClaims?.email }} --insecure-skip-tls-verify
                  --tanzu-kubernetes-cluster-namespace {{ cluster?.workspace?.name }} --tanzu-kubernetes-cluster-name {{ cluster?.clusterName }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
