<div class="grid gap-8">
  <div class="dark:bg-darker flex items-center justify-between rounded-md bg-white p-4">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.metadata.title' | translate }}</h4>
      </div>
      <div class="relative p-3">
        <!-- vsuuid, tls exists and valid,
          FQDN host-address (max 1) -> IP-address,verify DNS - make sure not duplicate address within helsenett+datacenter,
          verify global DNS, Find matching Hostrule, HTTPrule -->
        <table class="border-collapse text-left">
          <tbody>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.ingresses.detail.status' | translate }}</td>
              <td class="px-2 py-1">
                <app-cluster-status
                  [status]="ingress?.health"
                  pTooltip="{{ 'pages.clusters.details.ingresses.statusTooltip' | translate }}"
                  tooltipPosition="top"
                ></app-cluster-status>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">Cluster</td>
              <td class="px-2 py-1">
                <a class="hover:text-blue-800 hover:underline dark:hover:text-blue-400" [routerLink]="['../../../', cluster?.clusterId]">
                  {{ cluster?.clusterName }}</a
                >
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">Ingress</td>
              <td class="px-2 py-1">
                <span>{{ ingressName }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.ingresses.ingressClass' | translate }}</td>
              <td class="px-2 py-1">
                <span [ngClass]="{ 'bg-red-500 text-white': ingress?.classError }">{{ ingress?.class }}</span>
                <span *ngIf="!ingress?.class" [ngClass]="{ 'bg-red-500 text-white': ingress?.class?.length === 0 }">
                  {{ 'common.missing' | translate }}
                </span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light" *ngIf="ingress?.classError">
              <td class="px-2 py-1"></td>
              <td class="px-2 py-1">
                <span *ngIf="ingress?.classError" class="mt-3 text-red-800 dark:text-red-300">{{
                  'pages.clusters.details.ingresses.noIngressClass' | translate
                }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">Namespace</td>
              <td class="px-2 py-1">
                <span>{{ ingress?.namespace }}</span>
              </td>
            </tr>

            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.provider' | translate }}</td>
              <td class="px-2 py-1">
                {{ cluster?.workspace?.datacenter?.provider }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
