<div *ngIf="user$ | async as user">
  <div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
    <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.apikeys.title' | translate }}</h1>
  </div>

  <div #createContent [hidden]="createIsHidden" class="p-4">
    <app-apikey-create (cancelRequested)="createIsHidden = !createIsHidden" (created)="fetch(lastFilter)"></app-apikey-create>
  </div>

  <div class="m-4">
    <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
      <div class="dark:bg-darker rounded-md bg-white">
        <div class="dark:border-primary flex items-center justify-between border-b p-3">
          <span class="flex-grow"></span>
          <button
            [disabled]="!createIsHidden"
            (click)="toggleCreateVisibility()"
            class="delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-500 disabled:opacity-75 disabled:hover:bg-gray-800"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
          </button>
          <button
            (click)="fetch(lastLazyLoad)"
            class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            {{ 'common.refresh' | translate }}
          </button>
        </div>
        <div class="p-3">
          <div>
            <p-table
              [value]="(apikeys$ | async)?.data"
              [rows]="rows"
              [paginator]="true"
              [lazy]="true"
              [loading]="loading"
              (onLazyLoad)="fetch($event)"
              [rowsPerPageOptions]="rowsPerPage"
              [tableStyle]="{ 'min-width': '75rem' }"
              [rowHover]="true"
              responsiveLayout="stack"
              sortField="displayName"
              [sortOrder]="1"
              [filters]="{ type: { value: 'Cluster', matchMode: 'equals' } }"
              [totalRecords]="(apikeys$ | async)?.totalCount"
              [reorderableColumns]="true"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
                'common.of' | translate | lowercase
              }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="displayName" class="p-1">
                    {{ 'pages.apikeys.table.columns.displayName' | translate }} <p-sortIcon field="displayName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="identifier" class="p-1">
                    {{ 'pages.apikeys.table.columns.identifier' | translate }} <p-sortIcon field="identifier"></p-sortIcon>
                  </th>
                  <th pSortableColumn="type" class="p-1">
                    {{ 'pages.apikeys.table.columns.type' | translate }} <p-sortIcon field="type"></p-sortIcon>
                  </th>
                  <th pSortableColumn="created" class="p-1">
                    {{ 'pages.apikeys.table.columns.created' | translate }} <p-sortIcon field="created"></p-sortIcon>
                  </th>
                  <th pSortableColumn="lastUsed" class="p-1">
                    {{ 'pages.apikeys.table.columns.lastUsed' | translate }} <p-sortIcon field="lastUsed"></p-sortIcon>
                  </th>
                  <th pSortableColumn="expires" class="p-1">
                    {{ 'pages.apikeys.table.columns.expires' | translate }} <p-sortIcon field="expires"></p-sortIcon>
                  </th>
                  <th></th>
                </tr>
                <tr>
                  <th class="p-1">
                    <p-columnFilter type="text" field="displayName" matchMode="contains" [showMenu]="false"></p-columnFilter>
                  </th>
                  <th class="p-1">
                    <p-columnFilter type="text" field="identifier" matchMode="contains" [showMenu]="false"></p-columnFilter>
                  </th>
                  <th class="p-1">
                    <p-columnFilter field="type" matchMode="equals" [showMenu]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown
                          [ngModel]="selectedType"
                          [options]="types"
                          (onChange)="filter($event.value)"
                          placeholder="{{ 'common.any' | translate }}"
                          [showClear]="true"
                          [filter]="false"
                        >
                          <ng-template let-type pTemplate="item">
                            <span>{{ type }}</span>
                          </ng-template>
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th class="p-1"></th>
                  <th class="p-1"></th>
                  <th class="p-1"></th>
                  <th class="p-1"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-apikey let-expanded="expanded">
                <tr>
                  <td>{{ apikey?.displayName }}</td>
                  <td>{{ apikey?.identifier }}</td>
                  <td>
                    {{ apikey?.type }}
                  </td>
                  <td>
                    {{ apikey?.created | time: 'DD. MMM YYYY HH:mm:ss' }}
                  </td>
                  <td>
                    {{ apikey?.lastUsed | time: 'DD. MMM YYYY HH:mm:ss' }}
                  </td>
                  <td>
                    {{ apikey?.expires | time: 'DD. MMM YYYY HH:mm:ss' }}
                  </td>
                  <td>
                    <button
                      (click)="delete(apikey)"
                      icon="pi pi-trash"
                      class="focus:ring-primary dark:focus:ring-offset-dark ml-2 flex rounded-md bg-red-700 px-4 py-2 text-sm text-white hover:bg-red-500 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>

                      <span class="">{{ 'common.delete' | translate }}</span>
                    </button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">{{ 'common.emptyList' | translate }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <ng-template #loadingOrError>
            <ng-container *ngIf="fetchError; else dataLoading">
              <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                <span class="p-2 text-red-800"> {{ 'pages.apikeys.error' | translate }} </span>
                <button class="btn text-black" (click)="fetch(lastLazyLoad)">{{ 'common.tryAgain' | translate }}</button>
              </div>
            </ng-container>

            <ng-template #dataLoading>
              <app-spinner></app-spinner>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
  acceptButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-red-700 hover:bg-red-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  rejectButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-green-700 hover:bg-green-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  acceptLabel="{{ 'common.yes' | translate }}"
  rejectLabel="{{ 'common.no' | translate }}"
></p-confirmDialog>
<div *ngIf="clusterCreated$ | async"></div>
