<app-policy-bar
  [failed]="this.namespace?.failed"
  [passed]="this.namespace?.passed"
  [error]="this.namespace?.error"
  [warning]="this.namespace?.warning"
  [skipped]="this.namespace?.skipped"
  [total]="this.namespace?.total"
></app-policy-bar>

<p-table
  #namespaceTable
  [sortOrder]="-1"
  sortField="failed"
  [value]="namespace?.policies"
  styleClass="p-datatable-striped"
  [rows]="10"
  dataKey="name"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="rowsPerPage"
  [paginator]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem" class="p-1"></th>
      <th pSortableColumn="name" class="p-1">{{ 'pages.clusters.details.policyreports.name' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="failed" class="p-1">
        {{ 'pages.clusters.details.policyreports.fail' | translate }} ({{ namespace?.failed }}) <p-sortIcon field="failed"></p-sortIcon>
      </th>
      <th pSortableColumn="passed" class="p-1">
        {{ 'pages.clusters.details.policyreports.pass' | translate }} ({{ namespace?.passed }}) <p-sortIcon field="passed"></p-sortIcon>
      </th>
      <th pSortableColumn="error" class="p-1">
        {{ 'pages.clusters.details.policyreports.error' | translate }} ({{ namespace?.error }}) <p-sortIcon field="error"></p-sortIcon>
      </th>

      <th pSortableColumn="warning" class="p-1">
        {{ 'pages.clusters.details.policyreports.warn' | translate }} ({{ namespace?.warning }}) <p-sortIcon field="warning"></p-sortIcon>
      </th>

      <th pSortableColumn="skipped" class="p-1">
        {{ 'pages.clusters.details.policyreports.skip' | translate }} ({{ namespace?.skipped }}) <p-sortIcon field="skipped"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-policy let-nestedExpanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="policy"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="nestedExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>
        {{ policy?.name }}
      </td>
      <td>{{ policy?.failed }}</td>
      <td>{{ policy?.passed }}</td>
      <td>{{ policy?.error }}</td>
      <td>{{ policy?.warning }}</td>
      <td>{{ policy?.skipped }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-policy>
    <tr>
      <td colspan="10">
        <app-policy-policy [policy]="policy"></app-policy-policy>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        {{ 'common.emptyList' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
