<div *ngIf="observables$ | async">
  <div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
    <h1 class="text-2xl font-semibold">{{ 'common.edit' | translate }}: {{ workspaceName }}</h1>
  </div>

  <div class="dark:bg-darker m-2 rounded-md bg-white p-2" [formGroup]="form">
    <div class="field">
      <label for="project" class="block">{{ 'pages.workspaces.form.project' | translate }}</label>
      <div class="lg:1/4 sm:w-1/3">
        <p-dropdown
          placeholder="{{ 'pages.workspaces.form.projectHelp' | translate }}"
          [options]="projects"
          optionLabel="name"
          formControlName="project"
          [filter]="true"
          [style]="{ width: '100%' }"
          id="project"
          aria-describedby="project-help"
        ></p-dropdown>
      </div>
      <small id="project-help" class="block">{{ 'pages.workspaces.form.projectHelp' | translate }}</small>
    </div>
    <button class="mt-4" [disabled]="!form?.valid" (click)="update()" pButton>{{ 'common.save' | translate }}</button>
  </div>
</div>
