<p-tag [severity]="trueOrFalse ? 'success' : 'danger'" pTooltip="{{ labelTrue || ('shared.trueOrFalse.' + trueOrFalse | translate) }}">
  <ng-container *ngIf="trueOrFalse">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-6 w-6"
      aria-label="true"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
    </svg>
    <ng-container *ngIf="labelTrue">{{ labelTrue }}</ng-container>
  </ng-container>
  <ng-container *ngIf="!trueOrFalse">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-6 w-6"
      aria-label="false"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
      />
    </svg>
    <ng-container *ngIf="labelFalse">{{ labelFalse }}</ng-container>
  </ng-container>
</p-tag>
<ng-content></ng-content>
