<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">
    <span *ngIf="!desiredVersion">{{ 'pages.configuration.desiredVersion.create.title' | translate }}</span>
    <span *ngIf="desiredVersion">{{ 'pages.configuration.desiredVersion.update.title' | translate }}</span>
  </h1>
</div>

<div class="m-4">
  <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <span class="flex-grow"></span>
      </div>
      <div class="relative p-3">
        <form [formGroup]="formGroup">
          <div class="flex flex-col">
            <div class="">
              <div class="mb-3 mt-3 xl:w-96">
                <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.configuration.desiredVersion.form.key' | translate }} </label>
                <input
                  class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                  type="text"
                  aria-describedby="key-help"
                  pInputText
                  formControlName="key"
                />
                <div class="flex flex-col">
                  <span
                    *ngIf="
                      !formGroup.get('key').pristine && formGroup.get('key').touched && formGroup.get('key').dirty && formGroup.get('key').errors
                    "
                    class="text-red-400"
                    >{{ 'pages.configuration.desiredVersion.form.keyError' | translate }}</span
                  >
                  <span id="key-help">{{ 'pages.configuration.desiredVersion.form.keyHelp' | translate }}</span>
                </div>
              </div>
              <div class="mb-3 mt-3 xl:w-96">
                <label
                  ><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.configuration.desiredVersion.form.value' | translate }}
                </label>
                <input
                  class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                  type="text"
                  aria-describedby="value-help"
                  pInputText
                  formControlName="value"
                />
                <div class="flex flex-col">
                  <span
                    *ngIf="
                      !formGroup.get('value').pristine &&
                      formGroup.get('value').touched &&
                      formGroup.get('value').dirty &&
                      formGroup.get('value').errors
                    "
                    class="text-red-400"
                    >{{ 'pages.configuration.desiredVersion.form.valueError' | translate }}</span
                  >
                  <span id="value-help">{{ 'pages.configuration.desiredVersion.form.valueHelp' | translate }}</span>
                </div>
              </div>
            </div>
          </div>

          <span class="mt-3 text-red-800 dark:text-red-300">* {{ 'common.required' | translate }}</span>
          <div class="mt-5 flex">
            <button
              *ngIf="!desiredVersion"
              [disabled]="!formGroup?.valid"
              (click)="create()"
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:bg-gray-500 disabled:hover:bg-gray-800"
            >
              {{ 'common.create' | translate }}
            </button>
            <button
              *ngIf="desiredVersion"
              [disabled]="!formGroup?.valid"
              (click)="update()"
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:bg-gray-500 disabled:hover:bg-gray-800"
            >
              {{ 'common.update' | translate }}
            </button>
            <button
              (click)="reset()"
              class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            >
              {{ 'common.reset' | translate }}
            </button>
          </div>
          <div *ngIf="createError">
            <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
              <span class="p-2 text-red-800"> {{ 'pages.configuration.desiredVersion.create.error' | translate }} </span>
            </div>
          </div>
          <div *ngIf="updateError">
            <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
              <span class="p-2 text-red-800"> {{ 'pages.configuration.desiredVersion.update.error' | translate }} </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
