<div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
  <h1 class="text-2xl font-semibold">{{ 'pages.profile.title' | translate }}</h1>
</div>

<p-tabView styleClass="tabview" (activeIndexChange)="switchTab($event)" [activeIndex]="selectedTabIndex">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-user"></i>
      <span class="ml-2">{{ 'pages.profile.details.title' | translate }}</span>
    </ng-template>
    <ng-template pTemplate="content">
      <app-userprofile-details [claims]="claims" [exp]="expDate" [iat]="iatDate" [accessToken]="accessToken"></app-userprofile-details>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-key"></i>
      <span class="ml-2">{{ 'pages.profile.apikeys.title' | translate }}</span>
    </ng-template>
    <ng-template pTemplate="content">
      <app-userprofile-apikeys [upn]="claims?.email"></app-userprofile-apikeys>
    </ng-template>
  </p-tabPanel>
</p-tabView>
