<div *ngIf="k8sVersions$ | async"></div>
<form [formGroup]="clusterForm">
  <div *ngIf="prices$ | async as prices">
    <div class="mt-3">
      <h5>{{ 'pages.create.cluster.steps.metadata.env' | translate }}</h5>
      <div class="flex flex-col">
        <p-dropdown
          [options]="environments"
          placeholder="{{ 'pages.create.cluster.steps.metadata.envPlaceholder' | translate }}"
          optionLabel="name"
          [showClear]="false"
          [selectOnFocus]="true"
          formControlName="environment"
          (onChange)="clusterNameChanged()"
        ></p-dropdown>
        <span
          *ngIf="clusterForm.get('environment').touched && clusterForm.get('environment').dirty && clusterForm.get('environment').errors"
          class="text-red-400"
          >{{ 'pages.create.cluster.steps.metadata.evnError' | translate }}</span
        >
      </div>
    </div>
    <div class="mt-3">
      <div class="w-full md:w-1/3">
        <h5>{{ 'pages.create.cluster.steps.metadata.clustername' | translate }}</h5>
        <div class="flex flex-col">
          <input
            class="p-inputtext-lg border text-lg"
            type="text"
            pInputText
            formControlName="clusterName"
            [autofocus]="true"
            (keyup)="clusterNameChanged()"
          />
          <span
            *ngIf="
              (clusterForm.get('clusterName').errors || clusterForm.get('clusterName').errors) &&
              clusterForm.get('clusterName').touched &&
              clusterForm.get('clusterName').dirty
            "
            class="text-red-400"
            >{{ 'pages.create.cluster.steps.metadata.clusternameError' | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="mt-3" *ngIf="clusterName">
      <h5>{{ 'pages.create.cluster.steps.resources.clusterName' | translate }}</h5>
      <div class="flex flex-col">
        <span class="text-3xl text-bg-green-700" [ngClass]="{ 'text-red-700': !clusterForm.get('clusterName').valid }">{{
          clusterName | lowercase
        }}</span>
        <span *ngIf="!clusterForm.get('clusterName').valid" class="text-xl text-red-500">{{
          'pages.create.cluster.steps.resources.clusterNameError' | translate
        }}</span>
      </div>
    </div>

    <div class="">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.create.cluster.steps.resources.title' | translate }}</h4>
      </div>
      <div class="grid grid-cols-1 p-3 2xl:grid-cols-3">
        <table class="dark:text-light relative text-gray-900 sm:col-span-1 lg:col-span-2">
          <thead class="border-b">
            <tr>
              <th scope="col" class="px-1 py-1 text-left font-medium">
                {{ 'pages.create.cluster.steps.resources.table.machineClass' | translate }}
              </th>
              <th scope="col" class="px-1 py-1 text-left font-medium">{{ 'pages.create.cluster.steps.resources.table.cpu' | translate }}</th>
              <th scope="col" class="px-1 py-1 text-left font-medium">
                {{ 'pages.create.cluster.steps.resources.table.memory' | translate }}
              </th>
              <th scope="col" class="px-1 py-1 text-left font-medium">
                {{ 'pages.create.cluster.steps.resources.table.price' | translate }}
              </th>
              <th scope="col" class="px-1 py-1 text-left font-medium"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-gray-500" *ngFor="let price of pricesFiltered">
              <td class="whitespace-nowrap px-1 py-1 font-light">{{ price?.machineClass | titlecase }}</td>
              <td class="whitespace-nowrap px-1 py-1 font-light">{{ price?.cpu }}</td>
              <td class="whitespace-nowrap px-1 py-1 font-light">{{ price?.memory }} Gb</td>
              <td class="whitespace-nowrap px-1 py-1 font-light">{{ price?.price }} NOK</td>
              <td class="whitespace-nowrap px-1 py-1 font-light">
                <button (click)="addNodePool(price)"><i class="pi pi-plus-circle text-green-700"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="sm:ml-0 md:col-span-1 xl:ml-3">
          <h4 class="dark:text-light text-lg font-semibold text-gray-500">
            {{ 'pages.create.cluster.steps.resources.selectedTitle' | translate }}
          </h4>
          <div>
            <table class="border-collapse text-left">
              <tbody>
                <tr class="hover:bg-grey-light" *ngFor="let nodePool of nodePools">
                  <td class="">
                    <span class="">{{ nodePool?.machineClass | titlecase }}</span>
                  </td>
                  <td class="px-2 py-1">
                    <p-inputNumber
                      [(ngModel)]="nodePool.count"
                      [ngModelOptions]="{ standalone: true }"
                      [format]="false"
                      [showButtons]="true"
                      buttonLayout="horizontal"
                      inputId="horizontal"
                      spinnerMode="horizontal"
                      styleClass="bg-green-600"
                      [step]="1"
                      [min]="1"
                      [max]="10"
                      [size]="1"
                      [allowEmpty]="false"
                    >
                    </p-inputNumber>
                  </td>
                  <td class="px-2 py-1">
                    <span class="text-md">{{ nodePool.price * nodePool.count }} NOK</span>
                  </td>
                  <td class="px-2 py-1">
                    <button (click)="removeNodePool(nodePool)" class="text-lg text-gray-600 dark:text-white">
                      <i class="pi pi-times text-red-700 dark:text-red-400"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <span>{{ 'pages.create.cluster.steps.resources.sum' | translate }}: </span> <strong>{{ getNodePoolSum() }} NOK</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <h5>{{ 'pages.create.cluster.steps.resources.availability' | translate }}</h5>
      <div class="flex flex-col">
        <div *ngFor="let ha of haOptions" class="field-checkbox">
          <p-radioButton [inputId]="ha?.value" [value]="ha" formControlName="availability" (onClick)="environmentChanged($event)"></p-radioButton>
          <label [for]="ha?.value" class="ml-2 dark:text-white">{{ ha?.label }} ({{ 'common.price' | translate }}: {{ ha?.price }} NOK)</label>
        </div>
        <span
          *ngIf="clusterForm.get('availability').touched && clusterForm.get('availability').dirty && clusterForm.get('availability').errors"
          class="text-red-400"
          >{{ 'pages.create.cluster.steps.resources.availabilityError' | translate }}</span
        >
        <ng-container *ngIf="showEnvironmentWarning"
          ><span class="p-3 text-red-400">{{ 'pages.create.cluster.steps.resources.availabilityWarning' | translate }}</span></ng-container
        >
      </div>
    </div>

    <div class="mt-3" *ngIf="clusterForm?.get('provider')?.value?.type !== 'k3d'">
      <h5>{{ 'pages.create.cluster.steps.resources.k8sVersion' | translate }}</h5>
      <div class="flex flex-col">
        <p-dropdown
          [options]="k8sVersions"
          placeholder="{{ 'pages.create.cluster.steps.resources.k8sVersionPlaceholder' | translate }}"
          optionLabel="name"
          [autoOptionFocus]="true"
          [selectOnFocus]="true"
          [showClear]="false"
          formControlName="k8sVersion"
          (onChange)="updateEvent($event)"
        >
        </p-dropdown>
        <span
          *ngIf="clusterForm.get('k8sVersion').touched && clusterForm.get('k8sVersion').dirty && clusterForm.get('k8sVersion').errors"
          class="text-red-400"
          >{{ 'pages.create.cluster.steps.resources.k8sVersionError' | translate }}</span
        >
      </div>
    </div>

    <div class="flex justify-start mt-3">
      <a
        [routerLink]="['../new']"
        class="flex-none delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-gray-600 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
      >
        <span>{{ 'common.previous' | translate }}</span>
      </a>
      <div class="flex-none ml-3"></div>
      <button
        [routerLink]="['../metadata']"
        [disabled]="!validform()"
        class="flex-none delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-900 disabled:opacity-25 disabled:hover:bg-gray-900"
      >
        <span>{{ 'common.next' | translate }}</span>
      </button>
    </div>
  </div>
</form>
