<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.clusters.title' | translate }}</h1>
  <div
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark relative rounded-md bg-green-700 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    (click)="showExportChoises = !showExportChoises"
  >
    <div class="relative flex w-fit cursor-pointer items-center justify-center rounded-md px-4 py-2">
      <div class="mr-2">{{ 'common.export' | translate }}</div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
    </div>
    <div *ngIf="showExportChoises" class="absolute z-50 mt-2 w-fit cursor-pointer rounded-md p-3">
      <a
        (click)="exportToCsv()"
        class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark mt-0 w-full rounded-md bg-blue-700 px-4 py-2 text-sm text-white opacity-75 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
      >
        CSV
      </a>
      <div
        class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark mt-2 w-full rounded-md bg-blue-700 px-4 py-2 text-sm text-white opacity-75 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
        (click)="exportToExcel()"
      >
        Excel
      </div>
    </div>
  </div>
  <a
    *ngIf="(adminCreate$ | async) === true"
    [routerLink]="['./create/cluster']"
    class="delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    <span>{{ 'pages.clusters.create' | translate }}</span>
  </a>
  <button
    (click)="fetchClusters(lastLazyLoad)"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
  <ng-container *ngIf="aclFetchError">
    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
      <span class="p-2 text-red-800"> {{ 'layout.userFetchError' | translate }} </span>
      <button class="btn text-black" (click)="fetchAcl()">{{ 'common.tryAgain' | translate }}</button>
    </div>
  </ng-container>
</div>

<div class="dark:bg-darker rounded-md bg-white xl:m-4">
  <div *ngIf="!clustersError; else error" class="overflow-auto">
    <p-table
      *ngIf="selectedColumns && selectedColumns?.length > 0"
      [columns]="selectedColumns"
      [value]="(clusters$ | async)?.data"
      [paginator]="true"
      [rows]="rows"
      [rowsPerPageOptions]="rowsPerPage"
      [lazy]="true"
      (onLazyLoad)="fetchClusters($event)"
      [loading]="loading"
      responsiveLayout="stack"
      [rowHover]="true"
      stateStorage="local"
      stateKey="cluster-table"
      [reorderableColumns]="true"
      [totalRecords]="(clusters$ | async)?.totalCount"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
        'common.of' | translate | lowercase
      }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-between">
          <p-multiSelect
            [maxSelectedLabels]="0"
            [options]="cols"
            [(ngModel)]="selectedColumns"
            (ngModelChange)="updateColumns()"
            selectedItemsLabel="{0} {{ 'common.columns' | translate | lowercase }} {{ 'common.selected' | translate | lowercase }}"
            [style]="{ 'min-width': '200px' }"
            placeholder="{{ 'common.choose' | translate }} {{ 'common.columns' | translate | lowercase }}"
            filterBy="searchEN,searchNO"
          >
            <ng-template let-option pTemplate="item">
              <div class="">
                <span class="">{{ 'pages.clusters.table.column.' + option.header | translate }}</span>
              </div>
            </ng-template>
          </p-multiSelect>
          <div>
            <button *ngIf="selectedColumns !== baseCols" (click)="resetColumns()">{{ 'common.reset' | translate }}</button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">
            @if (col?.field === 'healthStatus.health') {
              <th pSortableColumn="lastObserved" pReorderableColumn class="p-1">
                {{ 'pages.clusters.table.column.' + col.header | translate }}<p-sortIcon field="healthStatus.health"></p-sortIcon>
              </th>
            } @else {
              <th [pSortableColumn]="col.field" pReorderableColumn class="p-1">
                {{ 'pages.clusters.table.column.' + col.header | translate }}<p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            }
          </ng-container>
        </tr>
        <tr *ngIf="{ metadata: metadata$ | async } as context">
          <th *ngFor="let col of columns" class="p-1">
            <p-columnFilter
              *ngIf="col.field === 'clusterName'"
              type="text"
              [field]="col.field"
              matchMode="contains"
              [showMenu]="true"
              [matchModeOptions]="matchModeOptions"
            ></p-columnFilter>
            <p-columnFilter
              *ngIf="col.field === 'metadata.project.name'"
              type="text"
              [field]="col.field"
              matchMode="contains"
              [showMenu]="false"
            ></p-columnFilter>
            <p-columnFilter
              *ngIf="col.field === 'workspace.name'"
              type="text"
              [field]="col.field"
              matchMode="contains"
              [showMenu]="false"
            ></p-columnFilter>
            <p-columnFilter *ngIf="col.field === 'workspace.datacenter.name'" [field]="col.field" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  *ngIf="datacenters"
                  [ngModel]="value"
                  appendTo="body"
                  [options]="datacenters"
                  placeholder="{{ 'common.any' | translate }}"
                  (onChange)="filter($event.value)"
                  optionLabel=""
                  [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'{0} items'"
                  [filter]="false"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="">
                      <span class="">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter *ngIf="col.field === 'versions.nhnTooling.version'" [field]="col.field" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  *ngIf="context.metadata"
                  [ngModel]="value"
                  appendTo="body"
                  [options]="context.metadata['nhnToolingVersions'].sort()"
                  placeholder="{{ 'common.any' | translate }}"
                  (onChange)="filter($event.value)"
                  optionLabel=""
                  [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'{0} items'"
                  [filter]="false"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="">
                      <span class="">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter *ngIf="col.field === 'versions.nhnTooling.branch'" [field]="col.field" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  *ngIf="context.metadata"
                  [ngModel]="value"
                  appendTo="body"
                  [options]="context.metadata['nhnToolingBranches'].sort()"
                  placeholder="{{ 'common.any' | translate }}"
                  (onChange)="filter($event.value)"
                  optionLabel=""
                  [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'{0} items'"
                  [filter]="false"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="">
                      <span class="">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter *ngIf="col.field === 'versions.kubernetes'" [field]="col.field" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  *ngIf="context.metadata"
                  [ngModel]="value"
                  appendTo="body"
                  [options]="context.metadata['kubernetesVersions'].sort()"
                  placeholder="{{ 'common.any' | translate }}"
                  (onChange)="filter($event.value)"
                  optionLabel=""
                  [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'{0} items'"
                  [filter]="false"
                >
                  <ng-template let-option pTemplate="item">
                    <div class="">
                      <span class="">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter
              *ngIf="col.field === 'topology.egressIp'"
              type="text"
              [field]="col.field"
              matchMode="contains"
              [showMenu]="true"
              [matchModeOptions]="matchModeOptions"
            >
            </p-columnFilter>
            <p-columnFilter *ngIf="col.field === 'environment'" [field]="col?.field" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [ngModel]="value"
                  appendTo="body"
                  [options]="environments"
                  placeholder="{{ 'common.any' | translate }}"
                  (onChange)="filter($event.value)"
                  optionLabel="name"
                  optionValue="value"
                  [maxSelectedLabels]="1"
                  [selectedItemsLabel]="'{0} items'"
                  [filter]="false"
                >
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
            <p-columnFilter
              *ngIf="col.field === 'metadata.project.projectMetadata.billing.workorder'"
              type="text"
              [field]="col.field"
              matchMode="contains"
              [showMenu]="true"
              [matchModeOptions]="matchModeOptions"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cluster let-columns="columns">
        <tr [pSelectableRow]="cluster">
          <td *ngFor="let col of columns">
            <div [ngSwitch]="col.field">
              <a
                *ngSwitchCase="'clusterName'"
                class="ml-2 cursor-pointer hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./cluster', cluster.clusterId]"
                >{{ cluster?.clusterName }}</a
              >
              <a
                *ngSwitchCase="'metadata.project.name'"
                class="ml-2 cursor-pointer hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./admin/projects/', cluster?.metadata?.project?.id]"
                >{{ cluster?.metadata?.project?.name }}</a
              >
              <div *ngSwitchCase="'workspace.datacenter.provider'">
                <app-provider [providerTypeOrName]="cluster?.workspace?.datacenter?.provider" [showText]="false"></app-provider>
              </div>
              <app-cluster-status
                *ngSwitchCase="'healthStatus.health'"
                [status]="cluster?.healthStatus?.health"
                pTooltip="{{ 'pages.clusters.details.metadata.statusTooltip' | translate }}"
                tooltipPosition="top"
              ></app-cluster-status>
              <a
                *ngSwitchCase="'workspace.name'"
                class="ml-2 hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./workspaces', cluster.workspace?.name]"
                >{{ cluster?.workspace?.name }}
              </a>
              <a
                *ngSwitchCase="'workspace.datacenter.name'"
                class="ml-2 hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./admin/datacenter', cluster?.workspace?.datacenter?.name]"
                >{{ cluster?.workspace?.datacenter?.name }}</a
              >
              <div *ngSwitchCase="'metrics.cpuPercentage'">
                {{ cluster?.metrics?.cpuPercentage }} % ({{ cluster?.metrics?.cpu }} {{ 'pages.clusters.table.column.cores' | translate }})
              </div>
              <div *ngSwitchCase="'metrics.memoryPercentage'">
                {{ cluster?.metrics?.memoryPercentage }} % ({{ cluster?.metrics?.memory | formatBytes: 2 : true }})
              </div>
              <div *ngSwitchCase="'lastObserved'">
                <span *ngIf="diffMinutes(cluster?.lastObserved) < 20">{{ cluster?.lastObserved | time: 'HH:mm:ss' }}</span>
                <span *ngIf="diffMinutes(cluster?.lastObserved) >= 20">{{ cluster?.lastObserved | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
              </div>
              <div *ngSwitchCase="'firstObserved'">
                <span>{{ cluster?.firstObserved | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
              </div>
              <div *ngSwitchCase="'created'">
                <span>{{ cluster?.created | time: 'DD. MMM YYYY HH:mm:ss' }}</span>
              </div>
              <div *ngSwitchCase="'metadata.project.projectMetadata.billing.workorder'">
                <span>{{ cluster?.metadata?.project?.projectMetadata?.billing?.workorder }}</span>
              </div>
              <a
                *ngSwitchCase="'ingresses.datacenter'"
                class="ml-2 hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./cluster', cluster.clusterId]"
                >{{ countPublicationsForType(cluster?.ingresses, 'datacenter') }}</a
              >
              <a
                *ngSwitchCase="'ingresses.health'"
                class="ml-2 hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./', cluster.clusterId]"
                >{{ countPublicationsForType(cluster?.ingresses, 'helsenett') }}</a
              >
              <a
                *ngSwitchCase="'ingresses.internet'"
                class="ml-2 hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                [routerLink]="['./cluster', cluster.clusterId]"
                >{{ countPublicationsForType(cluster?.ingresses, 'internett') }}</a
              >
              <div *ngSwitchCase="'versions.nhnTooling.version'">{{ cluster?.versions?.nhnTooling?.version }}</div>
              <app-cluster-environment *ngSwitchCase="'environment'" [environmentTag]="cluster?.environment"></app-cluster-environment>
              <div *ngSwitchDefault>{{ getValueFromColumn(cluster, col.field) }}</div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">{{ 'common.emptyList' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #error
    ><ng-container>
      <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
        <span class="p-2 text-red-800">
          {{ 'common.errorLoading' | translate }} <br />
          {{ ('common.error' | translate) + ': ' + clustersError }}
        </span>
      </div></ng-container
    ></ng-template
  >
</div>
<div *ngIf="clusterCreated$ | async"></div>
