:host ::ng-deep .p-datatable > .p-datatable-wrapper {
  overflow: visible;
}

:host ::ng-deep .p-datatable .p-datatable-wrapper .p-datatable-table > .p-datatable-thead {
  position: sticky;
  top: 80px;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    top: 0;
  }
}
