<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.metrics.title' | translate }}</h1>

  <button
    (click)="fetchCustomMetrics()"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
</div>

<div class="mt-2">
  <div class="mt-2 p-2">
    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2">
      <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
        <div class="dark:bg-darker rounded-md bg-white">
          <div class="dark:border-primary flex items-center justify-between border-b p-4">
            <h4 class="dark:text-light flex-grow text-lg font-semibold text-gray-500">{{ 'pages.metrics.nhnTooling' | translate }}</h4>
            <button
              type="button"
              (click)="showDialog(dialog)"
              icon="pi pi-info-circle"
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            >
              {{ 'common.fullscreen' | translate }}
            </button>
          </div>
          <div class="relative p-3">
            <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog #dialog [(visible)]="display">
  <p-chart type="bar" [data]="chartData" [options]="chartOptions"> </p-chart>
</p-dialog>
