<div *ngIf="cluster$ | async as cluster; else loadingOrError">
  <div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
    <h1 *ngIf="cluster?.clusterName.length > 0" class="text-2xl font-semibold">{{ cluster?.clusterName }}</h1>
    <h1 *ngIf="cluster?.clusterName.length === 0" class="text-2xl font-semibold">{{ clusterId }}</h1>

    <button
      (click)="fetch()"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    >
      {{ 'common.refresh' | translate }}
    </button>
  </div>

  <app-cluster-conditions [conditions]="cluster?.status?.conditions"></app-cluster-conditions>

  <p-tabView styleClass="tabview" [(activeIndex)]="selectedTabIndex" (activeIndexChange)="switchTab($event)" [scrollable]="true">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-server mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.title' | translate }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="">
          <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
            <div class="sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-3 2xl:col-span-4">
              <app-cluster-metrics [metrics]="cluster?.metrics"></app-cluster-metrics>
              <app-cluster-node-pools class="p-2" [cluster]="cluster"></app-cluster-node-pools>
              <app-cluster-acl class="p-2" [cluster]="cluster"></app-cluster-acl>
            </div>

            <div class="sm:col-span-1 md:col-span-1 lg:col-span-1 lg:pl-3 xl:col-span-1 2xl:col-span-2">
              <div class="grid-cols grid gap-4">
                <app-cluster-metadata [cluster]="cluster"></app-cluster-metadata>
                <app-cluster-tools class="" [cluster]="cluster" [userClaims]="userClaims"></app-cluster-tools>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="{{ 'pages.clusters.details.ingresses.title' | translate }}">
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-file mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.ingresses.title' | translate }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="">
          <app-cluster-ingress-list [cluster]="cluster"></app-cluster-ingress-list>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-list mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.policyreports.title' | translate }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <app-cluster-policy-report></app-cluster-policy-report>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-list mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.vulnerabilityreports.title' | translate }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <!-- todo when cluster agent v2 is active remove this comment-->
        <!-- <app-cluster-vulnerability [cluster]="cluster"></app-cluster-vulnerability> -->
        <app-cluster-vulnerability-report></app-cluster-vulnerability-report>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-list mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.compliancereports.title' | translate }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <app-cluster-compliance-report [clusterId]="cluster?.clusterId"></app-cluster-compliance-report>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="{{ 'pages.clusters.details.raw' | translate }}">
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-file mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.raw' | translate }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div>
          <app-cluster-raw [cluster]="cluster"></app-cluster-raw>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex text-nowrap">
          <i class="pi pi-cog mt-1"></i>
          <span class="ml-2">{{ 'pages.clusters.details.metadata.title' | translate }}</span>
          <p-badge
            *ngIf="editInvalidCount?.length > 0 && editInvalidCount !== '0'"
            class="ml-1"
            [value]="editInvalidCount"
            severity="danger"
          ></p-badge>
        </div>
      </ng-template>
      <div>
        <app-cluster-metadata-page [cluster]="cluster" (refreshRequested)="fetchCluster(clusterId)"></app-cluster-metadata-page>
      </div>
    </p-tabPanel>

    @if (adminOwner$ | async) {
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex text-nowrap">
            <i class="pi pi-server mt-1"></i>
            <span class="ml-2">{{ 'pages.clusters.details.resources.title' | translate }}</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="dark:bg-darker flex flex-col rounded-md bg-white">
            <div class="dark:border-primary flex items-center justify-between border-b p-3">
              <app-resourcesv2-filter
                class="flex-grow"
                [clusters]="[cluster]"
                [resourceTypes]="resourceTypes"
                (filterChange)="resourcesTable.filterChanged($event)"
                (reset)="resourcesTable.reset()"
              ></app-resourcesv2-filter>
              <button
                (click)="resourcesTable.refreshData()"
                class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
              >
                {{ 'common.refresh' | translate }}
              </button>
            </div>
            <div class="p-3 flex flex-col">
              <app-resources-v2-list
                [clusterId]="clusterId"
                #resourcesTable
                (resourceSelected)="showSelectedResource($event)"
              ></app-resources-v2-list>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex text-nowrap">
            <i class="pi pi-bell mt-1"></i>
            <span class="ml-2">{{ 'pages.clusters.details.notifications.title' | translate }}</span>
          </div>
        </ng-template>
        <div>
          <app-cluster-notifications [cluster]="cluster"></app-cluster-notifications>
        </div>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex text-nowrap text-red-500 dark:text-red-400">
            <i class="pi pi-ban mt-1"></i>
            <span class="ml-2">{{ 'pages.clusters.details.delete.title' | translate }}</span>
          </div>
        </ng-template>
        <div>
          <app-cluster-delete [cluster]="cluster"></app-cluster-delete>
        </div>
      </p-tabPanel>
    }
  </p-tabView>
</div>
<ng-template #loadingOrError>
  <ng-container *ngIf="clusterError; else clusterLoading">
    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
      <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
      <button class="btn text-black" (click)="fetchCluster(clusterId || '')">{{ 'common.tryAgain' | translate }}</button>
    </div>
  </ng-container>

  <ng-template #clusterLoading>
    <app-spinner></app-spinner>
  </ng-template>
</ng-template>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sm:w-full md:w-1/2">
  <app-resource-v2-details *ngIf="selectedResource" [resource]="selectedResource"></app-resource-v2-details>
</p-sidebar>
