:host ::ng-deep .tabview {
  .p-tabview-panels {
    background: transparent;
    border: 0;
  }

  .p-tabview-nav-content {
    background: transparent;
    @media screen and (prefers-color-scheme: dark) {
      background: var(--darker);
    }
  }

  .p-tabview-nav {
    .p-highlight {
      border-width: 0 0 6px 0;
      border-style: solid;
      border-image: linear-gradient(to left, #015945, #7befb2) 1;
      border-radius: 0;
    }

    .p-tabview-nav-link {
      border-radius: 0;
      border: 0;
      background: transparent;

      &:hover {
        background: transparent;
      }
    }
  }
}
