<div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
  <h1 class="text-2xl font-semibold">{{ 'pages.datacenters.title' | translate }}</h1>
  <button
    (click)="fetchMetrics()"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
</div>

<div class="mt-2">
  <div class="grid gap-8 p-4">
    <div class="dark:bg-darker flex items-center justify-between rounded-md bg-white p-4">
      <div class="dark:bg-darker rounded-md bg-white">
        <div class="relative p-3">
          <div *ngIf="datacenterMetrics$ | async as datacenters; else datacentersLoadingOrError">
            <app-datacenter-table [datacenters]="datacenters?.items"></app-datacenter-table>
            <span *ngIf="!datacenters || !datacenters?.items || datacenters?.items?.length === 0">{{
              'pages.datacenters.table.empty' | translate
            }}</span>
          </div>
          <ng-template #datacentersLoadingOrError>
            <ng-container *ngIf="datacenterMetricsError; else datacenterLoading">
              <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
                <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
                <button class="btn text-black" (click)="fetchMetrics()">{{ 'common.tryAgain' | translate }}</button>
              </div>
            </ng-container>

            <ng-template #datacenterLoading>
              <app-spinner></app-spinner>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
