<div class="flex">
  @for (service of ingress?.ingress?.spec?.rules; track $index) {
    @for (path of service?.http?.paths; track $index) {
      <div class="flex flex-row items gap-5">
        <span>path: {{ path?.path }}</span>
        <span>pathType: {{ path?.pathType }}</span>
        <span>service name: {{ path?.backend?.service?.name }}</span>
        <span>service name: {{ path?.backend?.service?.port?.number || path?.backend?.service?.port }}</span>
      </div>
    }
  }
</div>
<div class="flex gap-5">
  @for (tls of ingress?.ingress?.spec?.tls; track $index) {
    <div class="flex items">
      <span>tls: {{ tls?.hosts }}</span>
      <span>tls: {{ tls?.secretName }}</span>
    </div>
  }
</div>
<div class="flex gap-5">
  @for (ingressStatus of ingress?.ingress?.status?.loadBalancer?.ingress; track $index) {
    <div class="flex items">
      <span>hostname: {{ ingressStatus?.hostname }}</span>
      <span>ip: {{ ingressStatus?.ip }}</span>
    </div>
  }
</div>

<div class="mt-5">
  Services
  <ul>
    @for (service of services; track $index) {
      <li>
        <div class="flex flex-row items gap-5">
          <span>name: {{ service?.metadata?.name }}</span>
          <span>namespace: {{ service?.metadata?.namespace }}</span>
          <span>clusterIP: {{ service?.service?.spec?.clusterIP }}</span>
          <span>type: {{ service?.service?.spec?.type }}</span>
        </div>
      </li>
    }
  </ul>
</div>

<div class="mt-5">
  <ul>
    Pods
    @for (pod of pods; track $index) {
      <li>
        <div class="flex flex-row items gap-5">
          <span>name: {{ pod?.metadata?.name }}</span>
          <span>namespace: {{ pod?.metadata?.namespace }}</span>
          <span>status: {{ pod?.pod?.status?.phase }}</span>
          <span>node: {{ pod?.pod?.spec?.nodeName }}</span>
        </div>
      </li>
    }
  </ul>
</div>

<div class="mt-5">
  <ul>
    Certificates
    @for (certificate of certificates; track $index) {
      <li>
        <div class="flex flex-row items gap-5">
          <span>name: {{ certificate?.metadata?.name }}</span>
          <span>namespace: {{ certificate?.metadata?.namespace }}</span>
          <span>issuer: {{ certificate?.certificate?.spec?.issuerRef?.name }}</span>
          <span>dnsNames: {{ certificate?.certificate?.spec?.dnsNames }}</span>
        </div>
      </li>
    }
  </ul>
</div>
