<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.nodePools.title' | translate }}</h4>
      </div>
      <div class="overflow-x-auto">
        <div class="relative mb-3" *ngFor="let nodePool of cluster?.topology?.nodePools">
          <h2 class="text-xl">
            {{ nodePool?.name | titlecase }}
            <span class="text-sm">({{ 'pages.clusters.details.nodePools.machineClass' | translate }}: {{ nodePool?.machineClass }})</span>
          </h2>
          <p-table
            [value]="nodePool?.nodes"
            [rows]="rows"
            [paginator]="true"
            [rowsPerPageOptions]="rowsPerPage"
            [rowHover]="true"
            sortField="group"
            responsiveLayout="stack"
            [sortOrder]="1"
            [totalRecords]="nodePool?.nodes?.length"
            [reorderableColumns]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
              'common.of' | translate | lowercase
            }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name" class="p-1">
                  {{ 'pages.clusters.details.nodePools.table.column.name' | translate }} <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="role" class="p-1">
                  {{ 'pages.clusters.details.nodePools.table.column.role' | translate }} <p-sortIcon field="role"></p-sortIcon>
                </th>
                <th pSortableColumn="osImage" class="p-1">
                  {{ 'pages.clusters.details.nodePools.table.column.osImage' | translate }} <p-sortIcon field="osImage"></p-sortIcon>
                </th>
                <th pSortableColumn="architecture" class="p-1">
                  {{ 'pages.clusters.details.nodePools.table.column.arch' | translate }} <p-sortIcon field="architecture"></p-sortIcon>
                </th>
                <th pSortableColumn="metrics.cpuPercentage" class="p-1">
                  {{ 'pages.clusters.details.nodePools.table.column.cpu' | translate }} <p-sortIcon field="metrics.cpuPercentage"></p-sortIcon>
                </th>
                <th pSortableColumn="metrics.memoryPercentage" class="p-1">
                  {{ 'pages.clusters.details.nodePools.table.column.mem' | translate }} <p-sortIcon field="metrics.memoryPercentage"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th class="p-1">
                  <p-columnFilter type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="p-1">
                  <p-columnFilter type="text" field="role" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="p-1">
                  <p-columnFilter type="text" field="osImage" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="p-1">
                  <p-columnFilter type="text" field="architecture" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="p-1">
                  <p-columnFilter type="text" field="metrics.cpuPercentage" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th class="p-1">
                  <p-columnFilter type="text" field="metrics.memoryPercentage" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-node>
              <tr>
                <td>{{ node?.name }}</td>
                <td>{{ node?.role }}</td>
                <td>{{ node?.osImage }}</td>
                <td>{{ node?.architecture }}</td>
                <td>{{ node?.metrics?.cpuPercentage }} % ({{ node?.metrics?.cpuConsumed }} mi / {{ node?.metrics?.cpu }})</td>
                <td>
                  {{ node?.metrics?.memoryPercentage }} % ({{ node?.metrics?.memoryConsumed | formatBytes: 2 : true }} /
                  {{ node?.metrics?.memory | formatBytes: 2 : true }})
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">{{ 'common.emptyList' | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
