<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">
    <span *ngIf="!acl">{{ 'pages.acl.create.title' | translate }}</span>
    <span *ngIf="acl">{{ 'pages.acl.update.title' | translate }}</span>
  </h1>
</div>

<div class="m-4">
  <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <span class="flex-grow"></span>
      </div>
      <div class="relative p-3">
        <app-acl-create-update [acl]="acl"></app-acl-create-update>
      </div>
    </div>
  </div>
</div>
