<div>
  <p-table
    [columns]="selectedColumns"
    [value]="resources$ | async"
    responsiveLayout="scroll"
    #resourcesTable
    [rowHover]="true"
    [rowsPerPageOptions]="rowsPerPage"
    [globalFilterFields]="getGlobalSearchFields()"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
      'common.of' | translate | lowercase
    }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
  >
    <ng-template pTemplate="caption">
      <div class="xs:flex-none sm:flex sm:justify-between">
        <div *ngIf="clusters$ | async as clusters">
          <app-resources-filter
            [owners]="owners"
            [clusters]="clusters?.data"
            [resourceTypes]="resourceTypes"
            (filterChanged)="filterChanged($event)"
            [filter]="filter"
            [clusterId]="clusterId"
          ></app-resources-filter>
        </div>

        <p-multiSelect
          [options]="columnDefinitions"
          [(ngModel)]="selectedColumns"
          optionLabel="header"
          selectedItemsLabel="{0} {{ 'common.table.columnsSelected' | translate }}"
          [style]="{ 'min-width': '200px' }"
          placeholder="{{ 'common.table.chooseColumns' | translate }}"
          emptyMessage="{{ 'common.table.noColumns' | translate }}"
          emptyFilterMessage="{{ 'common.table.noColumnsFilter' | translate }}"
        ></p-multiSelect>

        <div class="flex">
          <input
            #resourceSearch
            class="rounded-lg"
            type="text"
            placeholder="{{ 'common.search' | translate }}"
            (input)="resourcesTable.filterGlobal(resourceSearch.value, 'contains')"
          />
          <button class="ml-2" (click)="resourcesTable.clear()">{{ 'common.reset' | translate }}</button>
        </div>

        <app-export-button class="md:justify-self-end" [exportObjects]="export()" [filename]="'resources'"></app-export-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col?.field" class="p-1">
          <div class="flex flex-cols">
            <span>{{ col?.header }}</span> <p-sortIcon [field]="col?.field"></p-sortIcon>
          </div>
        </th>

        <th class="p-1"></th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" class="p-1">
          <p-columnFilter
            [type]="col.type"
            [field]="col.field"
            matchMode="contains"
            [showMenu]="true"
            [matchModeOptions]="matchModeOptions"
          ></p-columnFilter>
        </th>

        <th class="p-1"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-resource let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ extractData(resource, col.field) }}
        </td>
        <td>
          <a
            class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md dark:bg-sky-500 bg-sky-500 hover:bg-sky-700 dark:hover:bg-sky-600 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            (click)="showDetails(resource)"
            >{{ 'common.details' | translate }}</a
          >
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">
          <span *ngIf="filter?.kind && filter.scope">{{ 'pages.resources.table.empty' | translate }}</span>
          <div *ngIf="!filter?.kind || !filter.scope" class="text-gray-600 dark:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
            </svg>

            {{ 'pages.resources.table.missingfilter' | translate }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #loadingOrError>
  <ng-container *ngIf="resourcesFetchError; else dataLoading">
    <app-error [error]="resourcesFetchError" (callback)="fetchResources()"></app-error>
  </ng-container>

  <ng-template #dataLoading>
    <app-spinner></app-spinner>
  </ng-template>
</ng-template>
<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sm:w-full md:w-1/2">
  <h1 class="text-2xl font-semibold">{{ 'pages.resources.details.title' | translate }}</h1>
  <span>{{ filter?.apiVersion }}/{{ this.filter?.kind }} - {{ selectedResource?.metadata?.uid }}</span>

  <pre class=""><code class="" [highlight]="selectedResource | json" language="json" lineNumbers></code></pre>
</p-sidebar>
