<div class="text-center text-gray-900 dark:text-white">
  <div>
    <p class="flex justify-center font-sans text-9xl">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-64 w-64">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
        />
      </svg>
    </p>
    <p>{{ 'error.unauthorized' | translate }}</p>
    <strong>{{ 'error.logged' | translate }}</strong>
  </div>

  <div class="mt-10">
    <a
      class="rounded border border-blue-500 bg-transparent px-4 py-2 font-semibold hover:border-transparent hover:bg-blue-500 hover:text-white"
      href="/"
    >
      {{ 'error.frontpage' | translate }}
    </a>
  </div>
</div>
