<div class="grid grid-cols-1 space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker col-span-2 rounded-md bg-white">
    <div class="dark:border-primary flex items-center justify-between border-b p-4">
      <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.apikeys.create.title' | translate }}</h4>
    </div>
    <div class="relative p-3">
      <div class="rounded">
        <div *ngIf="apikeyText" class="m-4 flex">
          <div class="grid w-full lg:grid-cols-1 xl:grid-cols-2">
            <div class="">
              <div (click)="copyApiKey()" class="mb-3 flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
                  />
                </svg>
                <code class="bg-black p-2 text-xl text-white">
                  <pre>{{ apikeyText }}</pre>
                </code>
              </div>

              <div class="flex gap-2">
                <button
                  (click)="copyApiKey()"
                  class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  {{ 'pages.apikeys.create.copyApikey' | translate }}
                </button>
                <button
                  (click)="startOver()"
                  class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  {{ 'pages.apikeys.create.startOver' | translate }}
                </button>
                <button
                  (click)="cancel()"
                  class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
                >
                  {{ 'common.close' | translate }}
                </button>
              </div>
            </div>
            <div class="">
              <h2 class="text-xl">{{ 'pages.apikeys.create.apikeydoc.title' | translate }}</h2>
              <p>{{ 'pages.apikeys.create.apikeydoc.first' | translate }}</p>
              <br />
              <p>
                {{ 'pages.apikeys.create.apikeydoc.usePart1' | translate }}
                <span (click)="copyApiKeyHeader()" class="my-4 bg-black text-lg text-white">X-API-KEY</span
                >{{ 'pages.apikeys.create.apikeydoc.usePart2' | translate }}
              </p>
              <br />
              <p>
                {{ 'pages.apikeys.create.apikeydoc.swaggerText1' | translate }}
                <a
                  class="underline hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                  href="{{ rorApiUrl }}/swagger/index.html"
                  target="_blank"
                  >{{ 'pages.apikeys.create.apikeydoc.swaggerlinkText' | translate }}</a
                >
                {{ 'pages.apikeys.create.apikeydoc.swaggerText2' | translate }}
              </p>
            </div>
          </div>
        </div>
        <form [formGroup]="apikeyForm" *ngIf="!apikeyText">
          <div class="flex flex-col">
            <div class="">
              <div class="mb-3 mt-3 xl:w-96">
                <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.apikeys.create.displayName' | translate }} </label>
                <input
                  class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                  type="text"
                  aria-describedby="displayName-help"
                  pInputText
                  formControlName="displayName"
                />
                <div class="flex flex-col">
                  <span
                    *ngIf="
                      !apikeyForm.get('displayName').pristine &&
                      apikeyForm.get('displayName').touched &&
                      apikeyForm.get('displayName').dirty &&
                      apikeyForm.get('displayName').errors
                    "
                    class="text-red-400"
                    >{{ 'pages.apikeys.create.displayNameError' | translate }}</span
                  >
                  <span id="displayName-help">{{ 'pages.apikeys.create.displayNameHelp' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="">
              <div class="mb-3 mt-3 xl:w-96">
                <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.apikeys.create.identifier' | translate }} </label>
                <input
                  class="form-control m-0 block w-full rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-gray-600 transition ease-in-out focus:bg-white focus:text-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white"
                  type="text"
                  aria-describedby="identifier-help"
                  pInputText
                  formControlName="identifier"
                />
                <div class="flex flex-col">
                  <span
                    *ngIf="
                      !apikeyForm.get('identifier').pristine &&
                      apikeyForm.get('identifier').touched &&
                      apikeyForm.get('identifier').dirty &&
                      apikeyForm.get('identifier').errors
                    "
                    class="text-red-400"
                    >{{ 'pages.apikeys.create.identifierError' | translate }}</span
                  >
                  <span id="identifier-help">{{ 'pages.apikeys.create.identifierHelp' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="mb-3 mt-3 xl:w-96">
              <label><span class="text-red-800 dark:text-red-300">*</span> {{ 'pages.apikeys.create.type' | translate }} </label>
              <p-dropdown
                [options]="availableTypes"
                formControlName="type"
                optionValue="value"
                optionLabel="name"
                placeholder="{{ 'pages.apikeys.create.typePlaceholder' | translate }}"
              ></p-dropdown>
              <div class="flex">
                <span
                  *ngIf="
                    !apikeyForm.get('type').pristine &&
                    apikeyForm.get('type').touched &&
                    apikeyForm.get('type').dirty &&
                    apikeyForm.get('type').errors
                  "
                  class="text-red-400"
                  >{{ 'pages.apikeys.create.typeError' | translate }}</span
                >
              </div>
            </div>

            <div class="">
              <div class="mb-3 mt-3 flex flex-col xl:w-96">
                <label> {{ 'pages.apikeys.create.expires' | translate }}</label>

                <p-calendar [minDate]="minDate" [maxDate]="maxDate" [showWeek]="true" [showIcon]="false" formControlName="expires"></p-calendar>

                <div class="flex flex-col">
                  <span
                    *ngIf="
                      !apikeyForm.get('expires').pristine &&
                      apikeyForm.get('expires').touched &&
                      apikeyForm.get('expires').dirty &&
                      apikeyForm.get('expires').errors
                    "
                    class="text-red-400"
                    >{{ 'pages.apikeys.create.expiresError' | translate }}</span
                  >
                  <span id="expires-help">{{ 'pages.apikeys.create.expiresHelp' | translate }}</span>
                </div>
              </div>
            </div>
          </div>

          <span class="mt-3 text-red-800 dark:text-red-300">* {{ 'common.required' | translate }}</span>

          <div class="mt-5 flex">
            <button
              [disabled]="!apikeyForm?.valid"
              (click)="create()"
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-500 disabled:opacity-75 disabled:hover:bg-gray-800"
            >
              {{ 'common.create' | translate }}
            </button>

            <button
              (click)="reset()"
              class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            >
              {{ 'common.reset' | translate }}
            </button>

            <button
              (click)="cancel()"
              class="hover:bg-primary-lighter focus:ring-primary dark:focus:ring-offset-dark ml-3 rounded-md bg-neutral-500 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            >
              {{ 'common.cancel' | translate }}
            </button>
          </div>
          <div *ngIf="apikeyCreateError">
            <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
              <span class="p-2 text-red-800"> {{ 'pages.apikeys.create.createError' | translate }} </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
