<p-table
  [value]="operatorConfigs"
  dataKey="spec.imagePostfix"
  styleClass="p-datatable-striped"
  sortField="spec.imagePostfix"
  [rowHover]="true"
  [paginator]="false"
  [rows]="10"
  [rowsPerPageOptions]="rowsPerPage"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem"></th>
      <th pSortableColumn="spec.imagePostfix">
        {{ 'pages.configuration.operatorconfigs.table.columns.imagePostfix' | translate }} <p-sortIcon field="spec.imagePostfix"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-operatorconfig let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="operatorconfig"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ operatorconfig?.spec?.imagePostfix }}</td>
      <td>
        <button
          [routerLink]="['./operatorconfig/', operatorconfig?.id, 'edit']"
          disabled
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-operatorconfigdetail>
    <tr>
      <td colspan="10">
        <div class="dark:bg-darker rounded-md bg-white">
          <div class="dark:bg-darker rounded-md bg-white">
            <div class="relative p-3">
              <p-table
                #resultTable
                [sortOrder]="1"
                sortField="index"
                [value]="operatorconfigdetail?.spec?.tasks"
                styleClass="p-datatable-striped"
                dataKey="index"
                [rows]="10"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="rowsPerPage"
                [paginator]="true"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="index" class="p-1">
                      {{ 'pages.configuration.operatorconfigs.table.table.columns.index' | translate }} <p-sortIcon field="index"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name" class="p-1">
                      {{ 'pages.configuration.operatorconfigs.table.table.columns.taskName' | translate }} <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="version" class="p-1">
                      {{ 'pages.configuration.operatorconfigs.table.table.columns.version' | translate }} <p-sortIcon field="version"></p-sortIcon>
                    </th>
                    <th pSortableColumn="runOnce" class="p-1">
                      {{ 'pages.configuration.operatorconfigs.table.table.columns.runOnce' | translate }} <p-sortIcon field="runOnce"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task let-nestedExpanded="expanded">
                  <tr>
                    <td>{{ task?.index }}</td>
                    <td>{{ task?.name }}</td>
                    <td>{{ task?.version }}</td>
                    <td>{{ task?.runOnce }}</td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">{{ 'common.emptyList' | translate }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">{{ 'common.emptyList' | translate }}</td>
    </tr>
  </ng-template>
</p-table>
