<div *ngIf="adminOwner$ | async"></div>
<form [formGroup]="clusterForm">
  <div class="mt-3">
    <h5>{{ 'pages.create.cluster.steps.location.ownergroup' | translate }}</h5>
    <app-input-dropdown
      [options]="accessGroups"
      [couldOverride]="adminOwner$ | async"
      placeholder="{{ 'pages.create.cluster.steps.location.ownergroupPlaceholder' | translate }}"
      [controlName]="'ownergroup'"
      [formGroup]="clusterForm"
      filterBy="name"
      [showClear]="true"
      optionLabel="name"
      optionValue="name"
      emptyListMessage="{{ 'common.emptyList' | translate }}"
    ></app-input-dropdown>
    <span
      *ngIf="clusterForm.get('ownergroup').touched && clusterForm.get('ownergroup').dirty && clusterForm.get('ownergroup').errors"
      class="text-red-400"
      >{{ 'pages.create.cluster.steps.location.ownergroupError' | translate }}</span
    >
  </div>

  <div class="flex flex-col mt-3">
    <h5>{{ 'pages.create.cluster.steps.metadata.sensitivity' | translate }}</h5>
    <p-dropdown
      [options]="availableSensitivities"
      placeholder="{{ 'pages.create.cluster.steps.metadata.sensitivityPlaceholder' | translate }}"
      optionLabel="name"
      [showClear]="true"
      formControlName="sensitivity"
      [filter]="true"
      filterBy="name"
      (onChange)="updateEvent($event)"
    >
      <ng-template let-sensitivity pTemplate="item">
        <div class="flex flex-col w-[500px]">
          <span class="text-lg">{{ sensitivity?.name }}</span>
        </div>
      </ng-template>
    </p-dropdown>
    <span
      *ngIf="clusterForm.get('sensitivity').touched && clusterForm.get('sensitivity').dirty && clusterForm.get('sensitivity').errors"
      class="text-red-400"
      >{{ 'pages.create.cluster.steps.metadata.sensitivityError' | translate }}</span
    >
    <div class="mt-1">
      <a href="https://docs.sky.nhn.no/leveransemodell/tags/" target="_blank" class="flex hover:text-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
          />
        </svg>
        <span>{{ 'pages.clusters.details.edit.form.moreInfo' | translate }}</span>
      </a>
    </div>
  </div>

  <div class="flex flex-col mt-3">
    <h5>{{ 'pages.create.cluster.steps.metadata.criticality' | translate }}</h5>
    <p-dropdown
      [options]="availableCriticalities"
      placeholder="{{ 'pages.create.cluster.steps.metadata.criticalityPlaceholder' | translate }}"
      optionLabel="name"
      [showClear]="true"
      formControlName="criticality"
      [filter]="true"
      filterBy="name"
      (onChange)="updateEvent($event)"
    >
      <ng-template let-criticality pTemplate="item">
        <div class="flex flex-col w-[500px]">
          <span class="text-lg">{{ criticality?.name }}</span>
        </div>
      </ng-template>
    </p-dropdown>
    <span
      *ngIf="clusterForm.get('criticality').touched && clusterForm.get('criticality').dirty && clusterForm.get('criticality').errors"
      class="text-red-400"
      >{{ 'pages.create.cluster.steps.metadata.criticalityError' | translate }}</span
    >
    <div class="mt-1">
      <a href="https://docs.sky.nhn.no/leveransemodell/tags/" target="_blank" class="flex hover:text-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
          />
        </svg>
        <span class="mt-1">{{ 'pages.clusters.details.edit.form.moreInfo' | translate }}</span>
      </a>
    </div>
  </div>

  <div class="mt-3">
    <h5>{{ 'pages.create.cluster.steps.metadata.tags' | translate }}</h5>
    <div class="">
      <p-chips formControlName="tags"></p-chips>
      <span *ngIf="clusterForm.get('tags').touched && clusterForm.get('tags').dirty && clusterForm.get('tags').errors" class="text-red-400">{{
        'pages.create.cluster.steps.metadata.tagsError' | translate
      }}</span>
    </div>
  </div>

  <div class="flex justify-start mt-3">
    <a
      [routerLink]="['../resources']"
      class="flex-none delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-gray-600 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    >
      <span>{{ 'common.previous' | translate }}</span>
    </a>
    <div class="flex-none ml-3"></div>
    <button
      [routerLink]="['../summary']"
      [disabled]="!clusterForm.get('ownergroup').valid || !clusterForm.get('sensitivity').valid || !clusterForm.get('criticality').valid"
      class="flex-none delay-50 hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark float-left rounded-md bg-green-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white disabled:cursor-not-allowed disabled:bg-gray-900 disabled:opacity-25 disabled:hover:bg-gray-900"
    >
      <span>{{ 'common.next' | translate }}</span>
    </button>
  </div>
</form>
