<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.resources.title' | translate }}</h1>
</div>

<div class="m-4">
  <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-3">
        <span class="flex-grow"></span>
        <button
          (click)="resourceTable.fetchResources()"
          class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
        >
          {{ 'common.refresh' | translate }}
        </button>
      </div>
      <div class="p-3"><app-resource-table #resourceTable></app-resource-table></div>
    </div>
  </div>
</div>
