<p-table
  [value]="tasks"
  dataKey="name"
  sortField="name"
  [sortOrder]="1"
  styleClass="p-datatable-striped"
  [rowHover]="true"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="rowsPerPage"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem" class="p-1"></th>
      <th pSortableColumn="name">{{ 'pages.configuration.tasks.table.columns.name' | translate }} <p-sortIcon field="name"></p-sortIcon></th>

      <th pSortableColumn="config.imageName" class="p-1">
        {{ 'pages.configuration.tasks.table.columns.imageName' | translate }} <p-sortIcon field="config.imageName"></p-sortIcon>
      </th>
      <th pSortableColumn="config.version" class="p-1">
        {{ 'pages.configuration.tasks.table.columns.version' | translate }} <p-sortIcon field="config.version"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="task"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ task?.name }}</td>

      <td>
        <!-- <a
          href="{{ task?.config?.imageName }}"
          target="_blank"
          class="ml-2 cursor-pointer hover:text-blue-800 hover:underline dark:hover:text-blue-400"
          >{{ task?.config?.imageName }}</a
        > -->
        {{ task?.config?.imageName }}
      </td>
      <td>{{ task?.config?.version }}</td>
      <td>
        <button
          disabled
          [routerLink]="['./task/', task?.id, 'edit']"
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-task>
    <tr>
      <td colspan="10">
        <app-config-task-detail [task]="task"></app-config-task-detail>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">{{ 'common.emptyList' | translate }}</td>
    </tr>
  </ng-template>
</p-table>
