package rorresources

import (
	"fmt"

	"github.com/NorskHelsenett/ror/pkg/rlog"
	"github.com/NorskHelsenett/ror/pkg/rorresources/rortypes"
	"k8s.io/apimachinery/pkg/runtime/schema"
)

// NewResourceSetFromStruct creates a new ResourceSet from a struct of the type ResourceSet
// the function restores common methods after transit eg by json.
func NewResourceSetFromStruct(in ResourceSet) (*ResourceSet, error) {
	out := ResourceSet{}
	if len(in.Resources) == 0 {
		rlog.Warn("ResourceSet has no resources")
		return &out, fmt.Errorf("ResourceSet has no resources")
	}

	if in.query == nil {
		in.query = &ResourceQuery{}
	}

	query := *in.query

	out.query = &query

	for _, res := range in.Resources {
		r, err := NewResourceFromStruct(*res)
		if err != nil {
			rlog.Error("Failed to create resource from struct", err)
			return nil, err
		}
		out.Add(r)
	}
	return &out, nil
}

func NewResourceFromStruct(res Resource) (*Resource, error) {

		r := NewRorResource(res.Kind, res.APIVersion)
	    r.CommonResource = res.CommonResource

		gvk := schema.FromAPIVersionAndKind(res.APIVersion, res.Kind)
		switch gvk.String() {
{{ range .}}

		case "{{.GroupVersionKind.String }}":
			if res.{{.Kind}}Resource == nil {
				res.{{.Kind}}Resource = &rortypes.Resource{{.Kind}}{}
			}
			r.Set{{.Kind}}(res.{{.Kind}}Resource)
			r.common = rortypes.NewCommonFactory(res.{{.Kind}}Resource)
{{end}}
		default:
			rlog.Info("Unknown resource kind", rlog.String("gvk", gvk.String()), rlog.String("kind", res.Kind), rlog.String("apiVersion", res.APIVersion))
		    return nil, fmt.Errorf("unknown resource kind: %s", gvk.String())
		}
	return r, nil
}
