<app-policy-bar
  [failed]="this.policy?.failed"
  [passed]="this.policy?.passed"
  [error]="this.policy?.error"
  [warning]="this.policy?.warning"
  [skipped]="this.policy?.skipped"
  [total]="this.policy?.total"
></app-policy-bar>

<p-table
  #policyTable
  [sortOrder]="1"
  sortField="result"
  [value]="policy?.reports"
  styleClass="p-datatable-striped"
  [rows]="10"
  dataKey="key"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="rowsPerPage"
  [paginator]="true"
  [filters]="{ result: { value: 'fail', matchMode: 'contains' } }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5rem" class="p-1"></th>
      <th pSortableColumn="result" class="p-1">
        {{ 'pages.clusters.details.policyreports.result' | translate }} <p-sortIcon field="result"></p-sortIcon>
      </th>
      <th pSortableColumn="name" class="p-1">{{ 'pages.clusters.details.policyreports.name' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="apiversion" class="p-1">
        {{ 'pages.clusters.details.policyreports.apiversion' | translate }} <p-sortIcon field="apiversion"></p-sortIcon>
      </th>
      <th pSortableColumn="kind" class="p-1">{{ 'pages.clusters.details.policyreports.kind' | translate }} <p-sortIcon field="kind"></p-sortIcon></th>
      <th pSortableColumn="category" class="p-1">
        {{ 'pages.clusters.details.policyreports.category' | translate }} <p-sortIcon field="category"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <td></td>
      <td>
        <p-columnFilter field="result" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [(ngModel)]="resultFilterValue"
              appendTo="body"
              [options]="resultFilter"
              (onChange)="triggerFilter($event.value)"
              placeholder="{{ 'common.any' | translate }}"
              optionLabel="name"
              [maxSelectedLabels]="1"
              [selectedItemsLabel]="'{0} items'"
              [filter]="true"
            >
              <ng-template let-option pTemplate="item">
                <div class="">
                  <span class="">{{ option?.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-report let-nestedExpanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="report"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="nestedExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>
        <app-policy-result [result]="report?.result"></app-policy-result>
      </td>
      <td>{{ report?.name }}</td>
      <td>{{ report?.apiversion }}</td>
      <td>{{ report?.kind }}</td>
      <td><p-tag icon="pi pi-check" [value]="report?.category"></p-tag></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-report>
    <tr>
      <td colspan="10">
        <table class="w-full border-collapse text-left">
          <tbody>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1 align-text-top">
                {{ 'pages.clusters.details.policyreports.results.name' | translate }}
              </td>
              <td class="px-2 py-1">
                {{ report?.name }}
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1 align-text-top">
                {{ 'pages.clusters.details.policyreports.results.category' | translate }}
              </td>
              <td class="px-2 py-1">
                {{ report?.category }}
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="w-1/6 px-2 py-1 align-text-top">
                {{ 'pages.clusters.details.policyreports.results.message' | translate }}
              </td>
              <td class="break-words px-2 py-1">
                {{ report?.message }}
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1 align-text-top">
                {{ 'pages.clusters.details.policyreports.results.uid' | translate }}
              </td>
              <td class="break-words px-2 py-1">
                {{ report?.uid }}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        {{ 'common.emptyList' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
