<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.resourcesv2.title' | translate }}</h1>
</div>

<div class="m-4">
  <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-3">
        <app-resourcesv2-filter
          class="flex-grow"
          [clusters]="(clusters$ | async)?.data"
          [resourceTypes]="resourceTypes"
          (filterChange)="resourcesTable.refreshData()"
        ></app-resourcesv2-filter>
        <button
          (click)="resourcesTable.refreshData()"
          class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
        >
          {{ 'common.refresh' | translate }}
        </button>
      </div>
      <div class="p-3 flex flex-col">
        <app-resources-v2-list #resourcesTable (resourceSelected)="showSelectedResource($event)"></app-resources-v2-list>
      </div>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="sm:w-full md:w-1/2">
  <app-resource-v2-details *ngIf="selectedResource" [resource]="selectedResource"></app-resource-v2-details>
</p-sidebar>
