<div *ngIf="cluster$ | async as cluster; else loadingOrError">
  <div class="dark:border-primary-darker flex items-center justify-between border-b">
    <div class="flex">
      <a routerLink="../../" class="pr-2 text-2xl font-semibold">{{ cluster?.clusterName }}</a>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-2 h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>

      <a class="px-2 text-2xl" [routerLink]="['../../']" [queryParams]="{ tab: 'ingresses' }">Ingresses</a>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-2 h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>

      <span class="pl-2 text-2xl font-semibold">{{ ingressId }}</span>
    </div>

    <button
      (click)="fetch()"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
    >
      {{ 'common.refresh' | translate }}
    </button>
  </div>

  <div class="mt-2 p-2">
    <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
      <div class="sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-3 2xl:col-span-4">
        <app-cluster-ingress-rules [cluster]="cluster" [ingressName]="ingressId"></app-cluster-ingress-rules>
      </div>

      <div class="sm:col-span-1 md:col-span-1 lg:col-span-1 lg:pl-3 xl:col-span-1 2xl:col-span-2">
        <div class="grid-cols grid gap-4">
          <app-cluster-ingress-metadata [cluster]="cluster" [ingressName]="ingressId"></app-cluster-ingress-metadata>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <ng-container *ngIf="clusterError; else ingressLoading">
    <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
      <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
      <button class="btn text-black" (click)="fetchCluster(clusterId || '')">{{ 'common.tryAgain' | translate }}</button>
    </div>
  </ng-container>

  <ng-template #ingressLoading>
    <app-spinner></app-spinner>
  </ng-template>
</ng-template>
