<div class="space-y-8lg:gap-8 grid grid-cols-1 lg:space-y-0">
  <div class="dark:bg-darker col-span-2 rounded-md bg-white">
    <div class="overflow-auto">
      <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
        <code>
          <pre>{{ claims | json }}</pre>
        </code>
      </div>

      <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
        <code>
          {{ authHeaders | json }}
        </code>
      </div>
    </div>
  </div>
</div>
