:host ::ng-deep .p-chip.dev {
  background: #4141e1;
  color: white;
}

:host ::ng-deep .p-chip.lab {
  background: #4141e1;
  color: white;
}

:host ::ng-deep .p-chip.test {
  background: #22731c;
  color: white;
}

:host ::ng-deep .p-chip.staging {
  background: #c3963d;
  color: white;
}

:host ::ng-deep .p-chip.qa {
  background: #c3963d;
  color: white;
}

:host ::ng-deep .p-chip.mgmt {
  background: #b92929;
  color: white;
}

:host ::ng-deep .p-chip.prod {
  background: #b92929;
  color: white;
}

:host ::ng-deep .p-chip.unknown {
  background: white;
  color: black;
}
