<div class="grid gap-8">
  <div class="dark:bg-darker flex items-center justify-between rounded-md bg-white p-4">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.metadata.title' | translate }}</h4>
      </div>
      <div class="relative p-3">
        <table class="w-full border-collapse text-left">
          <tbody>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.status' | translate }}</td>
              <td class="px-2 py-1">
                <app-cluster-status
                  [status]="cluster?.healthStatus?.health"
                  pTooltip="{{ 'pages.clusters.details.metadata.statusTooltip' | translate }}"
                  tooltipPosition="top"
                ></app-cluster-status>
              </td>
            </tr>
            <tr *ngIf="cluster?.metadata?.project?.name">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.project' | translate }}</td>
              <td class="px-2 py-1">
                <a
                  class="hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                  [routerLink]="['../../admin/projects/', cluster?.metadata?.project?.id]"
                  >{{ cluster?.metadata?.project?.name }}</a
                >
              </td>
            </tr>
            <tr class="hover:bg-grey-light" *ngIf="cluster?.metadata?.name">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.name' | translate }}</td>
              <td class="px-2 py-1">
                <span>{{ cluster?.metadata?.name }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.clusterId' | translate }}</td>
              <td class="flex px-2 py-1">
                <a (click)="copyClusterId()" class="flex cursor-copy">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
                    />
                  </svg>
                  <span class="ml-1">{{ cluster?.clusterId }}</span>
                </a>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.clusterName' | translate }}</td>
              <td class="px-2 py-1">
                <span>{{ cluster?.clusterName }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.workspace' | translate }}</td>
              <td class="px-2 py-1">
                <a
                  class="hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                  [routerLink]="['../../workspaces', cluster?.workspace?.name]"
                  >{{ cluster?.workspace?.name }}</a
                >
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.datacenter' | translate }}</td>
              <td class="px-2 py-1">
                <a
                  class="hover:text-blue-800 hover:underline dark:hover:text-blue-400"
                  [routerLink]="['../../admin/datacenter/', cluster?.workspace?.datacenter?.name]"
                  >{{ cluster?.workspace?.datacenter?.name }}</a
                >
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.provider' | translate }}</td>
              <td class="px-2 py-1">
                <app-provider [providerTypeOrName]="cluster?.workspace?.datacenter?.provider"></app-provider>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.ha' | translate }}</td>
              <td class="px-2 py-1 text-center">
                <span
                  *ngIf="cluster?.topology?.controlPlane?.nodes?.length > 1"
                  class="mr-2 flex w-14 rounded-full bg-green-600 p-2 px-4 text-center leading-none text-white"
                  >{{ 'common.yes' | translate }}</span
                >
                <span
                  *ngIf="cluster?.topology?.controlPlane?.nodes?.length === 1"
                  class="mr-2 flex w-14 rounded-full bg-purple-600 p-2 px-4 text-center leading-none text-white"
                  >{{ 'common.no' | translate }}</span
                >
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.environment' | translate }}</td>
              <td class="px-2 py-1">
                <app-cluster-environment [environmentTag]="cluster?.environment"></app-cluster-environment>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.nhnToolingVersion' | translate }}</td>
              <td class="px-2 py-1">
                <span>{{ cluster?.versions?.nhnTooling?.version }}</span>
                <span *ngIf="cluster?.versions?.nhnTooling?.branch" class="ml-2">({{ cluster?.versions?.nhnTooling?.branch }})</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.agent' | translate }}</td>
              <td class="px-2 py-1">
                <span>{{ cluster?.versions?.agent?.version }}</span>
                <span *ngIf="cluster?.versions?.agent?.sha" class="ml-2">({{ cluster?.versions?.agent?.sha }})</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.k8sVersion' | translate }}</td>
              <td class="px-2 py-1">
                <span>{{ cluster?.versions?.kubernetes }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.egressIp' | translate }}</td>
              <td class="px-2 py-1">
                <span *ngIf="!cluster?.topology?.egressIp || cluster?.topology?.egressIp === ''">{{ 'common.missing' | translate }}</span>
                <a (click)="copyEgressIp()" class="flex cursor-copy" *ngIf="cluster?.topology?.egressIp">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
                    />
                  </svg>
                  <span class="ml-1">{{ cluster?.topology?.egressIp }}</span>
                </a>
              </td>
            </tr>
            <tr class="hover:bg-grey-light w-14">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.firstObserved' | translate }}</td>
              <td class="px-2 py-1">
                <span *ngIf="cluster?.firstObserved && cluster.firstObserved !== '0001-01-01T00:00:00Z'">{{
                  cluster?.firstObserved | time: 'DD. MMM YYYY HH:mm:ss'
                }}</span>
                <span *ngIf="!cluster?.firstObserved || cluster?.firstObserved.length === 0 || cluster.firstObserved === '0001-01-01T00:00:00Z'">{{
                  'common.missing' | translate
                }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light w-14">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.lastObserved' | translate }}</td>
              <td class="px-2 py-1">
                <span *ngIf="cluster?.lastObserved && cluster.lastObserved !== '0001-01-01T00:00:00Z'">{{
                  cluster?.lastObserved | time: 'DD. MMM YYYY HH:mm:ss'
                }}</span>
                <span *ngIf="!cluster?.lastObserved || cluster?.lastObserved.length === 0 || cluster.lastObserved === '0001-01-01T00:00:00Z'">{{
                  'common.missing' | translate
                }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light w-14">
              <td class="px-2 py-1">{{ 'pages.clusters.details.metadata.created' | translate }}</td>
              <td class="px-2 py-1">
                <span *ngIf="cluster?.created && cluster.created !== '0001-01-01T00:00:00Z'">{{
                  cluster?.created | time: 'DD. MMM YYYY HH:mm:ss'
                }}</span>
                <span *ngIf="!cluster?.created || cluster?.created.length === 0 || cluster.created === '0001-01-01T00:00:00Z'">{{
                  'common.missing' | translate
                }}</span>
              </td>
            </tr>
            <tr class="hover:bg-grey-light" *ngIf="cluster.metadata?.serviceTags">
              <td class="px-2 py-1">{{ 'pages.admin.projects.details.servicetags' | translate }}</td>
              <td class="flex flex-wrap px-2 py-1">
                <p-tag styleClass="mr-1 mt-1" *ngFor="let tag of tags" class="">{{ tag }}</p-tag>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
