<div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
  <h1 class="text-2xl font-semibold">{{ 'pages.datacenters.details.title' | translate }}: {{ datacenterName }}</h1>
  <button
    (click)="fetch()"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
</div>

<div class="mt-2">
  <div *ngIf="datacenterMetrics$ | async as datacenterMetrics; else datacenterMetricsLoadingOrError">
    <div class="grid gap-4 p-4 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
      <div class="dark:bg-darker flex flex-col rounded-md bg-white">
        <div class="flex items-center justify-between p-4">
          <div>
            <h6 class="dark:text-primary-lighter text-xs font-medium uppercase leading-none tracking-wider text-gray-500">
              {{ 'nav.workspaces' | translate }}
            </h6>
            <span class="text-xl font-semibold"> {{ workspaceCount || 0 }} </span>
            <!-- <span class="inline-block px-1 py-px ml-1 text-xs text-green-900 bg-green-100 rounded-md"
                >{{ datacenterMetrics?.metrics?.clusterCount || 0 }} <span>{{ 'pages.dashboard.total' | translate }}</span></span
              > -->
          </div>
          <div class="flex flex-col">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:text-primary-dark h-12 w-12 text-gray-300"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
              </svg>
            </span>
          </div>
        </div>
        <!-- <div class="p-2">
            <a class="hover:underline" routerLink="workspaces">{{ 'pages.dashboard.seeAll' | translate }}</a>
          </div> -->
      </div>

      <div class="dark:bg-darker flex flex-col rounded-md bg-white">
        <div class="flex items-center justify-between p-4">
          <div>
            <h6 class="dark:text-primary-lighter text-xs font-medium uppercase leading-none tracking-wider text-gray-500">
              {{ 'nav.clusters' | translate }}
            </h6>
            <span class="text-xl font-semibold">{{ datacenterMetrics?.metrics?.clusterCount || 0 }}</span>
            <span class="ml-2 inline-block rounded-md bg-green-100 px-2 py-px text-xs text-green-900">
              {{ datacenterMetrics?.metrics?.clusterCount || 0 }} <span>{{ 'pages.dashboard.total' | translate }}</span></span
            >
          </div>
          <div>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:text-primary-dark h-12 w-12 text-gray-300"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"
                />
              </svg>
            </span>
          </div>
        </div>
        <!-- <div class="p-2">
            <a class="hover:underline" routerLink="clusters">{{ 'pages.dashboard.seeAll' | translate }}</a>
          </div> -->
      </div>

      <div class="dark:bg-darker flex flex-col rounded-md bg-white">
        <div class="flex items-center justify-between p-4">
          <div>
            <h6 class="dark:text-primary-lighter text-xs font-medium uppercase leading-none tracking-wider text-gray-500">
              {{ 'nav.nodes' | translate }}
            </h6>
            <span class="text-xl font-semibold">{{ datacenterMetrics?.metrics?.nodeCount || 0 }}</span>
            <!-- <span class="inline-block px-2 py-px ml-2 text-xs text-green-900 bg-green-100 rounded-md">
                {{ datacenterMetrics?.metrics?.nodeCount || 0 }} <span>{{ 'pages.dashboard.total' | translate }}</span></span
              > -->
          </div>
          <div>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:text-primary-dark h-12 w-12 text-gray-300"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="p-2"></div>
      </div>

      <div class="dark:bg-darker flex flex-col rounded-md bg-white">
        <div class="flex items-center justify-between p-4">
          <div>
            <h6 class="dark:text-primary-lighter text-xs font-medium uppercase leading-none tracking-wider text-gray-500">
              {{ 'pages.dashboard.metrics.cpu' | translate }}
            </h6>
            <span class="text-xl font-semibold">{{ datacenterMetrics?.metrics?.cpuPercentage }} %</span>
            <span class="ml-2 inline-block rounded-md bg-green-100 px-2 py-px text-xs text-green-900"
              ><span> {{ datacenterMetrics?.metrics?.cpu || 0 }}</span> {{ 'pages.dashboard.metrics.cores' | translate }}
            </span>
          </div>
          <div>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:text-primary-dark h-12 w-12 text-gray-300"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="p-2"></div>
      </div>

      <div class="dark:bg-darker flex flex-col rounded-md bg-white">
        <div class="flex items-center justify-between p-4">
          <div>
            <h6 class="dark:text-primary-lighter text-xs font-medium uppercase leading-none tracking-wider text-gray-500">
              {{ 'pages.dashboard.metrics.memory' | translate }}
            </h6>
            <span class="text-xl font-semibold">{{ datacenterMetrics?.metrics?.memoryPercentage }} %</span>
            <span class="ml-2 inline-block rounded-md bg-green-100 px-2 py-px text-xs text-green-900">
              {{ datacenterMetrics?.metrics?.memory | formatBytes: 2 : true }}
            </span>
          </div>
          <div>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="dark:text-primary-dark h-12 w-12 text-gray-300"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="p-2"></div>
      </div>
    </div>
  </div>
  <ng-template #datacenterMetricsLoadingOrError>
    <ng-container *ngIf="datacenterMetricsError; else datacenterMetricsLoading">
      <div class="my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
        <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
        <button class="btn text-black" (click)="fetchDatacenterMetrics()">{{ 'common.tryAgain' | translate }}</button>
      </div>
    </ng-container>

    <ng-template #datacenterMetricsLoading>
      <app-spinner></app-spinner>
    </ng-template>
  </ng-template>
</div>

<div class="mt-2 p-4">
  <div class="dark:bg-darker flex items-center justify-between rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'nav.workspaces' | translate }}</h4>
      </div>
      <div class="relative p-3">
        <div *ngIf="workspaceMetrics$ | async as workspaces; else workspacesLoadingOrError">
          <table class="dark:text-light min-w-full text-gray-900">
            <thead class="">
              <tr>
                <th scope="col" class="text-md px-2 py-2 text-left font-medium">
                  <div class="flex">
                    <a (click)="changeSort('_id')">{{ 'pages.datacenters.table.column.name' | translate }}</a>
                    <app-icon-sort-asc
                      (click)="changeSort('_id')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter?.sort[0].sortField === '_id' && filter?.sort[0].sortOrder === 1"
                    ></app-icon-sort-asc>
                    <app-icon-sort-desc
                      (click)="changeSort('_id')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter.sort[0].sortField === '_id' && filter?.sort[0].sortOrder === -1"
                    ></app-icon-sort-desc>
                  </div>
                </th>
                <th scope="col" class="text-md px-2 py-2 text-left font-medium">
                  <div class="flex">
                    <a (click)="changeSort('totalCpuPercentage')">{{ 'pages.datacenters.table.column.cpu' | translate }}</a>
                    <app-icon-sort-asc
                      (click)="changeSort('totalCpuPercentage')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter?.sort[0].sortField === 'totalCpuPercentage' && filter?.sort[0].sortOrder === 1"
                    ></app-icon-sort-asc>
                    <app-icon-sort-desc
                      (click)="changeSort('totalCpuPercentage')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter.sort[0].sortField === 'totalCpuPercentage' && filter?.sort[0].sortOrder === -1"
                    ></app-icon-sort-desc>
                  </div>
                </th>
                <th scope="col" class="text-md px-2 py-2 text-left font-medium">
                  <div class="flex">
                    <a (click)="changeSort('totalMemoryPercentage')">{{ 'pages.datacenters.table.column.memory' | translate }}</a>
                    <app-icon-sort-asc
                      (click)="changeSort('totalMemoryPercentage')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter?.sort[0].sortField === 'totalMemoryPercentage' && filter?.sort[0].sortOrder === 1"
                    ></app-icon-sort-asc>
                    <app-icon-sort-desc
                      (click)="changeSort('totalMemoryPercentage')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter.sort[0].sortField === 'totalMemoryPercentage' && filter?.sort[0].sortOrder === -1"
                    ></app-icon-sort-desc>
                  </div>
                </th>
                <th scope="col" class="text-md px-2 py-2 text-left font-medium">
                  <div class="flex">
                    <a (click)="changeSort('totalClusterCount')">{{ 'pages.datacenters.table.column.cluster' | translate }}</a>
                    <app-icon-sort-asc
                      (click)="changeSort('totalClusterCount')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter?.sort[0].sortField === 'totalClusterCount' && filter?.sort[0].sortOrder === 1"
                    ></app-icon-sort-asc>
                    <app-icon-sort-desc
                      (click)="changeSort('totalClusterCount')"
                      class="ml-1 mt-1 text-green-600"
                      *ngIf="filter.sort[0].sortField === 'totalClusterCount' && filter?.sort[0].sortOrder === -1"
                    ></app-icon-sort-desc>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-gray-500" *ngFor="let workspace of workspaces?.data">
                <td class="whitespace-nowrap px-2 py-2 text-sm font-medium">
                  <a class="hover:text-blue-800 hover:underline dark:hover:text-blue-400" [routerLink]="['../../../workspaces', workspace.id]">{{
                    workspace?.id
                  }}</a>
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm font-light">
                  {{ workspace?.cpuPercentage }} % ({{ workspace?.cpu }} {{ 'pages.datacenters.table.column.cores' | translate }})
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm font-light">
                  {{ workspace?.memoryPercentage }} % ({{ workspace?.memory | formatBytes: 2 : true }})
                </td>
                <td class="whitespace-nowrap px-2 py-2 text-sm font-light">{{ workspace?.clusterCount }}</td>
              </tr>
            </tbody>
          </table>
          <div class="relative mt-2 flex flex-row">
            <nav aria-label="Page navigation" class="flex-none">
              <ul class="inline-flex space-x-2">
                <li *ngIf="pages?.length > 0">
                  <button
                    [disabled]="currentPage === pages[0]"
                    (click)="setPage(currentPage - 1)"
                    class="focus:shadow-outline flex h-10 w-10 items-center justify-center rounded-full text-green-600 transition-colors duration-150 hover:bg-green-100 disabled:text-gray-600"
                  >
                    <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
                      <path
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                </li>
                <li>
                  <div class="relative inline-flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="pointer-events-none absolute right-0 top-0 m-3 h-4 w-4"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                    <select
                      [(ngModel)]="currentPage"
                      (ngModelChange)="setPage(currentPage)"
                      class="h-8 appearance-none rounded-full border border-gray-300 bg-white pl-2 pr-8 text-gray-600 hover:border-gray-400 focus:outline-none dark:border-green-300 dark:bg-green-700 dark:text-white"
                    >
                      <option *ngFor="let pageNumber of pages" [value]="pageNumber">{{ pageNumber }}</option>
                    </select>
                  </div>
                </li>
                <li *ngIf="pages?.length > 0">
                  <button
                    [disabled]="currentPage === pages[pages.length - 1]"
                    (click)="setPage(currentPage + 1)"
                    class="focus:shadow-outline flex h-10 w-10 items-center justify-center rounded-full text-green-600 transition-colors duration-150 hover:bg-green-100 disabled:text-gray-600"
                  >
                    <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
                      <path
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                </li>
              </ul>
            </nav>
            <div class="mt-2 grow">
              <div class="flex items-center justify-center">
                <span class="">{{ 'pages.clusters.paginator.total' | translate }}</span>
                <span class="ml-2">{{ workspaces?.totalCount }}</span>
              </div>
            </div>
            <div class="flex-none">
              <div class="relative inline-flex">
                <span class="mr-2 mt-2">{{ 'common.pageSize' | translate }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="pointer-events-none absolute right-0 top-0 m-3 h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                </svg>
                <select
                  [(ngModel)]="itemsPerPage"
                  (change)="itemPerPageChanged(itemsPerPage)"
                  class="h-8 appearance-none rounded-full border border-gray-300 bg-white pl-2 pr-8 text-gray-600 hover:border-gray-400 focus:outline-none dark:border-green-300 dark:bg-green-700 dark:text-white"
                >
                  <option *ngFor="let limit of pageSizes" [ngValue]="limit">{{ limit }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <ng-template #workspacesLoadingOrError>
          <ng-container *ngIf="workspaceMetricsError; else workspaceLoading">
            <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
              <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
              <button class="btn text-black" (click)="fetchWorkspaceMetrics()">{{ 'common.tryAgain' | translate }}</button>
            </div>
          </ng-container>

          <ng-template #workspaceLoading>
            <app-spinner></app-spinner>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
