<div class="text-center text-gray-900 dark:text-white">
  <div>
    <p class="flex justify-center font-sans text-9xl">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-64 w-64">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </p>
    <p>{{ 'error.forbidden' | translate }}</p>
    <strong>{{ 'error.logged' | translate }}</strong>
  </div>

  <div class="mt-10">
    <a
      class="rounded border border-blue-500 bg-transparent px-4 py-2 font-semibold hover:border-transparent hover:bg-blue-500 hover:text-white"
      href="/"
    >
      {{ 'error.frontpage' | translate }}
    </a>
  </div>
</div>
